
<html>
    <head>

    </head>
    <body class="back-image">
        <img src="/assets/images/1837.png" style="margin-left:390px; height:120px;">
        <h2 style="font-family: Holtwood One SC, serif; margin-top: -55px; margin-left: 560px;">Leaderboard</h2>
        <div class="lead-back">
        <div *ngFor="let item of RanksArray" class="card">
            <div class="row">
                <div class="column left">
                    <img src="/assets/images/avatar.png" style="height: 55px;margin-left:50px; margin-top: -6px">
                </div>
                <div class="column mid">
                    <h3 style="font-family: Holtwood One SC; color:rgb(88, 56, 13)"><b>{{ item.username }}</b></h3>
                    <!-- <h5 style="display: inline-block;margin-inline-start:40px;height:35px;margin-top: 10px;">සම්පූර්ණ කල ක්‍රියාකාරකම් ගණන : <span style="font-family: 'Raleway', sans-serif;">{{ item.completed_games }}</span> </h5> -->
                </div>
                <div class="column right">
                    <img src = "/assets/images/coin_achieve.png" style="margin-left: 18px;margin-top:-10px;height: 50px; width: 60px; position: absolute;">
                    <h3 style="font-family: Holtwood One SC;"> {{ item.totalMarks }}</h3>
                </div>
            </div>
        </div>
    </div>
     </body>
</html>

  
