<html>

    <head>
        <style type="text/css">
            .text{width:70px; height:70px; color:blue; font-size:50px; text-align:center}
            #but{width:150px; height:40px; color:blue; font-size:25}
            </style>
    </head>
    
<body class = "image">
    
    <!-- page 01 -->
        <div id="pg1_count" style="position: absolute; top: 40px; left: 160px;">
            <a href="/grade2/maths/level2" style ='margin-top:70px; margin-left:-100px; color:green;height:50px ;' class="previous button1"> &laquo; Previous</a>
            <a class="previous button1" style ='margin-top:70px; margin-left:880px; color:green;height:50px;'onclick="return showNxt('pg2_count');"> Next &#8811; </a>
    
            <div class= "center1" data-value="1">
                <br>
                <h5><B>රූප ගණන් කර, ගළපෙන ඉලක්කම තෝරමු</B></h5>
                <br>
            </div>
            
        <form name="f1" >
            <img src ="/assets/images/unorder-35.PNG" style="width:350px;height:300px;margin-right:100px; margin-left:-100px; border:black; border-style: solid">
            <img src ="/assets/images/unorder-40.PNG" style="width:350px;height:300px;margin-right:50px; margin-left:180px; border:black; border-style: solid ">
            
            <div id="box1" style="position:absolute; top:250px; left:260px; width:240px; height:140px; border:transparent">
                <img  name="clipa" id="34" src="/assets/images/34.PNG" style="height:90px; width:90px; border: black; border-style: solid" onclick="testcountL2_1();" hspace=10 >
                <img name="clipb" id="35" src="/assets/images/35.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_2();">
                <br>
                <img  name="clipa" id="36" src="/assets/images/36.PNG" style="height:90px; width:90px; border: black; border-style: solid" onclick="testcountL2_3();" hspace=10 >
                <img name="clipb" id="37" src="/assets/images/37.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_4();">
                <input type="checkbox"  hidden name="fruit" id="mark1"/>
                <input type="checkbox"  hidden name="fruit" id="unmark1"/>
            </div>
            
            <div id="box2" style="position:absolute; top:400px; left:300px; width:400px; height:80px">
                <img name="clip01" src="/assets/images/blank.png">  
                <img name="clip03" src="/assets/images/blank.png" hspace=100>
            </div>
            
            <div id="box5" style="position:absolute; top:250px; left:900px; width:240px; height:140px;border:transparent " >
                <img  name="clipc" id="38" src="/assets/images/38.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_5();">
                <img  name="clipd" id="39" src="/assets/images/39.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_6();" hspace=10>
                <br>
                <img  name="clipc" id="40" src="/assets/images/40.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_7();">
                <img  name="clipd" id="41" src="/assets/images/41.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_8();" hspace=10>
                <input type="checkbox"  hidden name="fruit" id="mark2"/>
                <input type="checkbox"  hidden name="fruit" id="unmark2"/>
            </div>
            
            <div id="box6" style="position:absolute; top:400px; left:800px;width:400px; height:80px" >
                <img name="clip04" src="/assets/images/blank.png">
                <img name="clip05" src="/assets/images/blank.png">
                <img name="clip06" src="/assets/images/blank.png" hspace=95>
            </div>
            
            <div id="box11" style="position:absolute; top:500px; left:440px; width:200px; height:180px; margin-left:-140px" >
                <img name="clip07" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
            </div>
            
            <div id="box3" style="position:absolute; top:500px; left:1150px; width:200px; height:180px; margin-left:-190px" >
                <img name="clip08" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
            </div>
            
            <div id="box13" style="position:absolute; top:440px; left:270px; width:150px; height:50px;" >
                <input type="text" name="text1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
            </div>
            
            <div id="box14" style="position:absolute; top:440px; left:900px;width:150px; height:50px" >
                <input type="text" name="text2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
            </div>

        </form>
        </div>    
    
        

        <!-- page 02 -->
        <div id="pg2_count" style="position: absolute; top: 100px; left: 200px; display:none;">
            <div class= "center1" data-value="1">
                <!-- <h5><B>රූප ගණන් කර, ගළපෙන ඉලක්කම තෝරමු-2</B></h5> -->
                <br>
            </div>
            
        <form name="f2" >
            <img src ="/assets/images/slipper-16.PNG" style="width:350px;height:170px;margin-right:100px; margin-left:-100px; border:black; border-style: solid">
            <img src ="/assets/images/chalk-30.PNG" style="width:350px;height:170px;margin-right:100px; border:black; border-style: solid ">
            <img src ="/assets/images/stars-80.PNG" style="width:330px;height:170px; border:black; border-style: solid">

            <div id="box1" style="position:absolute; top:260px; left:-25px; width:240px; height:140px; border:transparent">
                <img  name="clipA" id="16" src="/assets/images/16.PNG" style="height:90px;width:90px; border:black; border-style: solid"onclick="testcountL2_9();" hspace=10 >
                <img name="clipB" id="17" src="/assets/images/17.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_10();">
                <br>
                <img  name="clipA" id="18" src="/assets/images/18.PNG" style="height:90px;width:90px; border:black; border-style: solid"onclick="testcountL2_11();" hspace=10 >
                <img name="clipB" id="15" src="/assets/images/15.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_12();">
                <input type="checkbox"  hidden name="fruit" id="mark01"/>
                <input type="checkbox"  hidden name="fruit" id="unmark01"/>
            </div>
            
            <div id="box2" style="position:absolute; top:480px; left:-25px; width:400px; height:80px">
                <img name="clip01" src="/assets/images/blank.png">
                <img name="clip02" src="/assets/images/blank.png" hspace=100>
            </div>
            
            <div id="box5" style="position:absolute; top:260px; left:435px; width:240px; height:140px;border:transparent " >
                <img  name="clipC" id="20" src="/assets/images/20.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_13();">
                <img  name="clipD" id="25" src="/assets/images/25.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_14();" hspace=10>
                <br>
                <img  name="clipC" id="35" src="/assets/images/35.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_15();">
                <img  name="clipD" id="30" src="/assets/images/30.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_16();" hspace=10>
                <input type="checkbox"  hidden name="fruit" id="mark02"/>
                <input type="checkbox"  hidden name="fruit" id="unmark02"/>
            </div>
            
            <div id="box6" style="position:absolute; top:480px; left:435px;width:400px; height:80px" >
                <img name="clip03" src="/assets/images/blank.png">
                <img name="clip04" src="/assets/images/blank.png" hspace=95>
            </div>
            
            
            <div id="box9" style="position:absolute; top:260px; left:860px; width:440px; height:140px; border:transparent" >
                <img name="clipE" id="90" src="/assets/images/90.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_17();">
                <img name="clipF" id="80" src="/assets/images/80.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_18();" hspace=10>
                <br>
                <img name="clipE" id="70" src="/assets/images/70.PNG"  style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_19();">
                <img name="clipF" id="100" src="/assets/images/100.PNG" style="height:90px;width:90px; border:black; border-style: solid" onclick="testcountL2_20();" hspace=10>
                <input type="checkbox"  hidden name="fruit" id="mark03"/>
                <input type="checkbox"  hidden name="fruit" id="unmark03"/>
            </div>
            
            <div id="box10" style="position:absolute; top:480px; left:860px; width:400px; height:80px" >
                <img name="clip05" src="/assets/images/blank.png" hspace=10>
                <img name="clip06" src="/assets/images/blank.png" hspace=90>
            </div>
            
            <div id="box11" style="position:absolute; top:430px; left:230px; width:200px; height:180px; margin-left:-50px" >
                <img name="clip10" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
            </div>
            
            <div id="box3" style="position:absolute; top:430px; left:680px; width:200px; height:180px; margin-left:-50px" >
                <img name="clip11" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
            </div>
            
            <div id="box4" style="position:absolute; top:430px; left:1050px; width:200px; height:180px; margin-left:1px" >
                <img name="clip12"style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
            </div> 
            
            <div id="box13" style="position:absolute; top:480px; left:-15px; width:150px; height:50px" >
                <input type="text" name="text4" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
            </div>
            
            <div id="box14" style="position:absolute; top:480px; left:434px;width:150px; height:50px" >
                <input type="text" name="text5" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
            </div>
            
            <div id="box17" style="position:absolute; top:480px; left:860px; width:150px;height:50px" >
                <input type="text" name="text6" value=""  readonly="true" style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
            </div>

        </form>
        </div>    
    
                <!-- <button id="submit" class="button2" style="display: block;margin-top:-300px ;" (click)="markstot_countingconcepts2()">ඉවරයි</button> 
                 -->
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                
                              <!-- Modal content -->
                              <div class="modal-content">
                                <!-- <span id ="close1" class="close">&times;</span> -->
                                <!-- <img src="/assets/images/congratulations.gif" class="congrats_img" style = "margin-left: 270px;height: 280px; width: 450px;"> -->
                                <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 5px; position: absolute">
                                <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                                <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                                <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                                <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                                <!-- <a href="#"  class="button3" onclick="return show('Page1','Page2');">ආපසු</a> -->
                                <a href="grade1/maths/level2"  class="button3">ආපසු</a>
                              </div>
                            </div>
                
                
            
            











        
       