<body style="height:40em; 
background-size:cover; 
width:100%;
background-image:url(/assets/images/lengtback.jpg);
background-position:50% 50%;
margin-top:-50px;">

<div id="block" style="position:absolute;top:40px;left:150px;">
<!-- page1 -->
<a href="/grade1/maths/level1/length" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
<a href="/grade1/maths/level1/volume" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a>
<form name="f1">
    <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -20px; margin-left: 160px;">
    <img src = "/assets/images/shape_sound2.gif" id="click-1" style="position: absolute; height: 140px; margin-top: -55px; margin-left: 250px;">
    <audio id="click-audio-1" src="assets/audio/click-on-image.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio> 

    <h1 style="font-size: 25px; margin-top: -36px; text-align: center;"><b>පින්තූර මත click කරන්න</b></h1>
    <!-- tall image -->
    <div id="box23" style="position:absolute; top:100px; left:300px;width:300px; height:300px;" >
    <img  name="clip1" style="height:300px;width:300px;margin-top:140px" src="/assets/images/elephant.gif" onClick="testlength5();">
    </div>
    <!-- short image -->
    <div id="box24" style="position:absolute; top:100px; left:600px; width:250px; height:200px;" >
    <img  name="clip1" style ="margin-top:220px;height:200px"src="/assets/images/bird.gif" onClick="testlength6();">
    </div>
    
    <div id="bo27" style="position:absolute; top:520px; left:300px; width:200px; height:50px">
    <input type="text" name="txt5" value="" readonly="true" style= "width:200px; height:50px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent;color:black; font-size:30px">
    </div> 

    <div id="box28" style="position:absolute; top:520px; left:600px;width:200px; height:50px" >
    <input type="text" name="txt6" value="" readonly="true" style= "width:200px; height:50px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent; color:black; font-size:30px">
    </div>
</form>
</div>
