<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/bool1.jpg);">
   
<div class="container" class="image" style="height:100% ;width:100%">
    <br>
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <a href="/grade1/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
      </div>

     

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <!-- <div class="col-sm-4 col-xs-4 col-lg-4">
                     <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">
                    </div> -->
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <img src = "/assets/images/sound_audio3.gif" style="height:60px;">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px ;"><b>කවි අසා රස විඳිමු </b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
          </div>
      </div>
      
  </div>
  <div class="row">
    <h3 style ="margin-top:20px; margin-left:60px;"><b>රූපයට ගැලපෙන වචනය දී ඇති අකුරු වලින් සාදමූ.</b></h3><br>
    <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
  </div>

  <form name="f1">
       
       
  </form> 
</div>

<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >ඉවරයි</button> 
    </div>
    <br>
  </div> 
        









