<!-- <html>
<body class = "image">
    <a href="/grade1/environment/level1" style ='margin-top:70px;margin-left:10px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/environment/level1/schoolgame" style ='margin-top:30px;margin-left:1050px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a>
    <h1 align="center"  style="position:absolute; top:190px; left:600px;width:250px; height:220px;color:white"><b>අපේ පාසල ගැන ඉගෙනගමු</b></h1>
 
    <img src="/assets/images/sbag.gif" style="position:absolute;  top:400px; left:1200px;width:130px; height:150px;">
    
    <img src="/assets/images/bottle.gif" style="position:absolute;  top:430px; left:800px;width:60px; height:120px;">
    <img src="/assets/images/principal.gif" style="position:absolute; top:130px; left:200px;width:260px; height:500px;">
    <img src="/assets/images/boy1.gif" style="position:absolute; top:350px; left:1050px;width:170px; height:250px;">
    <img src="/assets/images/bell.gif" style="position:absolute; top:270px; left:375px;width:140px; height:160px;">
    <img src="/assets/images/teacher.png" style="position:absolute; top:145px; left:833px;width:230px; height:368px;">
    <img src="/assets/images/book.gif" style="position:absolute; top:325px; left:75px;width:100px; height:268px;">
    <img src="/assets/images/pencil.gif" style="position:absolute; top:385px; left:465px;width:90px; height:168px;">
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="image" >
<!-- <div class = "container"> -->
    <br>
    <h1 style="text-align:center; margin-bottom: 20px;"><b>අප ගන්නා ආහාර ගැන ඉගෙන ගනිමු</b></h1>
    <div class="row" data-value="0" style="margin-bottom: 40px;">
        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half" style ="width:90%;height:auto">
                <iframe id = "myVideo_shapes" class="embed-responsive-item" src="https://drive.google.com/file/d/1bhaIzAhgWZQzCVfpDFSdUm7nSF3XEDvS/preview" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                    <a class="button3" href="/grade1/environment/level1/game2">සෙල්ලම් කරමු</a>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4"></div>
            </div>
            
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
    </div>  
    <br>
    <br>
    <br>
<!-- </div> -->
</body>
</html>

