<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body style="background-size:cover;background-image:url(/assets/images/bool1.jpg);">
  <app-emotiondetector></app-emotiondetector>  
<div class="container" class="image" style="height:100% ;width:100%">
  <div id = "startdiv">
    <button id="startbtn" class="button4" onclick = "startgame_sinhala()"><b>ආරම්භ කරන්න</b></button>
    <img id="start-img" src = "/assets/images/start_button.png" >
  </div>
    <br>
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <!-- <a href="/grade1/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a> -->
      </div>

     

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <!-- <div class="col-sm-4 col-xs-4 col-lg-4">
                     <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">
                    </div> -->
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <!-- <img src = "/assets/images/sound_audio3.gif" style="height:60px;"> -->
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px ;"><b>වචන හදමු - 1 </b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
            </div>
        </div>
        <div class="buttons" >
          <button hidden id="startStop" onclick="startStop()">Start</button> 
          <button hidden id="reset" onclick="reset()">Reset</button>
        </div>
      
      </div>
  </div>

  <div class="row" >
    <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
  </div>

  <div class="row">
    <div class="col-sm-2 col-xs-2 col-lg-2">
      <img src = "/assets/images/sound_audio3.gif" id="audio_img" class="question-audio" onclick="words_play_g2()" style="height:60px; float:right">
      <audio id="words_play_g2_l1_audio" src="assets/audio/sinhala/G1L2Words1.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>
    </div>
    <div class="col-sm-8 col-xs-8 col-lg-8">
      <h3 style="text-align: center;margin-top: 10px;"><b>රූපයට ගැලපෙන වචනය දී ඇති අකුරු වලින් සාදන්න</b></h3><br>
    </div>
    <div class="col-sm-2 col-xs-2 col-lg-2">
    </div>
  </div>



  <form name="f1">
        <div class="row" style ="margin-top:20px;margin-left:40px ;">
          <img  src="/assets/images/mother.jpg" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 2px;margin-right:5px ;">
          <img src ="/assets/images/arrow_right.gif" style="height:100px;width:100px">

          <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip3" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
        </div>
     
        <div class="row" style ="margin-left:40px ;">
          <div class=" col-4">
          <!-- letter 1 -->
            <img src ="/assets/images/equal.png" style="height:90px;width:90px">

            <img name="w12" src="/assets/images/ga.JPG" id="wo112"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames12()">
            <img name="w22" src="/assets/images/aaa.JPG"  id="wo212" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames22()">
            
            <img name="rw12" src="/assets/images/trans.svg" style="height:130px; width:130px; ">
            <img name="rw312" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            
            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
            </div>
           

            <!-- letter 2 -->
            <div class=" col-4">
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w32" src="/assets/images/mmm.JPG" id="wo312"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames32()">
            <img name="w42" src="/assets/images/sa.JPG"  id="wo412" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames42()">
            
            <img name="rw22" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw322" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark2"/>
            <input type="checkbox" hidden name="fruit" id="unmark2"/>
          </div>

           <!-- letter 3 --> 
           <div class=" col-4">
     
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w52" src="/assets/images/maa.JPG" id="wo512"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 58px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames52()">
            <img name="w62" src="/assets/images/sa.JPG"  id="wo612" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames62()">
            
            <img name="rw32" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw332" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark3"/>
            <input type="checkbox" hidden name="fruit" id="unmark3"/>
           
           
       </div>
        </div><br>


        <!----q2--->

        <div class="row" style ="margin-top:20px;margin-left:40px ;">
          <img  src="/assets/images/house1.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 2px;margin-right:5px ;">
          <img src ="/assets/images/arrow_right.gif" style="height:100px;width:100px">

          <img name="clip7" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip8" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip9" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
        </div>
     
        <div class="row" style ="margin-left:40px ;">
          <div class=" col-sm-4 col-xs-4  col-lg-4">
          <!-- letter 1 -->
            <img src ="/assets/images/equal.png" style="height:90px;width:90px">

            <img name="w72" src="/assets/images/aaa.JPG" id="wo712"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames72()">
            <img name="w82" src="/assets/images/ge.JPG"  id="wo812" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames82()">
            
    
            <img name="rw42" src="/assets/images/trans.svg" style="height:130px; width:130px; ">
            <img name="rw342" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark4"/>
            <input type="checkbox" hidden name="fruit" id="unmark4"/>
            </div>
           

            <!-- letter 2 -->
            <div class=" col-sm-4 col-xs-4  col-lg-4">
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w92" src="/assets/images/mmm.JPG" id="wo912"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames92()">
            <img name="w102" src="/assets/images/da.JPG"  id="wo1012" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames102()">
            
            <img name="rw52" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw352" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark5"/>
            <input type="checkbox" hidden name="fruit" id="unmark5"/>
          </div>

           <!-- letter 3 --> 
           <div class=" col-sm-4 col-xs-4  col-lg-4">
     
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w112" src="/assets/images/ra.JPG" id="wo1112"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames112()">
            <img name="w122" src="/assets/images/kk.JPG"  id="wo1212" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames122()">
            
            <img name="rw62" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw362" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark6"/>
            <input type="checkbox" hidden name="fruit" id="unmark6"/>
           
           
       </div>
        </div><br>


        <!----q3--->

        <div class="row" style ="margin-top:20px;margin-left:40px ;">
          <img  src="/assets/images/sister.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 2px;margin-right:5px ;">
          <img src ="/assets/images/arrow_right.gif" style="height:100px;width:100px">

          <img name="clip13" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip14" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
          <img name="clip15" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> 
        </div>
     
        <div class="row" style ="margin-left:40px ;">
          <div class=" col-sm-4 col-xs-4  col-lg-4">
          <!-- letter 1 -->
            <img src ="/assets/images/equal.png" style="height:90px;width:90px">

            <img name="w132" src="/assets/images/aaa.JPG" id="wo1312"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames132()">
            <img name="w142" src="/assets/images/ge.JPG"  id="wo1412" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames142()">
            
            <img name="rw72" src="/assets/images/trans.svg" style="height:130px; width:130px; ">
            <img name="rw372" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark7"/>
            <input type="checkbox" hidden name="fruit" id="unmark7"/>
            </div>
           

            <!-- letter 2 -->
            <div class=" col-sm-4 col-xs-4  col-lg-4">
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w152" src="/assets/images/da.JPG" id="wo1512"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames152()">
            <img name="w162" src="/assets/images/kk.JPG"  id="wo1612" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames162()">
            
            <img name="rw82" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw382" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark8"/>
            <input type="checkbox" hidden name="fruit" id="unmark8"/>
          </div>

           <!-- letter 3 --> 
           <div class=" col-sm-4 col-xs-4  col-lg-4">
     
            <img src ="/assets/images/+.png" style="height:90px;width:90px">

            <img name="w172" src="/assets/images/kaaa.JPG" id="wo1712"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="wordgames172()">
            <img name="w182" src="/assets/images/maa.JPG"  id="wo1812" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="wordgames182()">
            
            <img name="rw92" src="/assets/images/trans.svg" style="height:130px; width:130px; "> 
            <img name="rw392" src="/assets/images/gift.jpg" style="height:130px; width:140px;border-radius:15px ;border-color:black;border-style: solid; "> 
            <input type="checkbox" hidden name="fruit" id="mark9"/>
            <input type="checkbox" hidden name="fruit" id="unmark9/">
           
           
       </div>
        </div><br>
       
</form> 



<div hidden id="clickarray"></div>
<br>
<br>
<div class="row">
  <div class=col-6>
    <img id ="arrow1" class="arrow" style="display: none;" src ="/assets/images/arrow_right.gif">
  </div>
  <div class=col-6>
    <button id="submit" class="button2" style="display: none;" (click)="markstot_words2_g2l1()">ඉවරයි</button> 
  </div>
</div>

<div id="myModal" class="modal">

  <div class="modal-content">
    <div class="row">
      <div class="col-12">
        <h1 class ="coin-heading">Completed!!!</h1>
      </div>
    </div>
    <div class="row coins-row">
      <div class="col-4 coin_img1">
        <img id="coin1" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
      </div>
      <div class="col-4 coin_img2">
        <img id="coin2" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
      </div>
      <div class="col-4 coin_img3">
        <img id="coin3" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
      </div>

    </div>

    <div class="row">
      <div class="col-12" class="perf-time1">
        <h5 class="perf-time2">ගත වූ කාලය : <span id="perf-time"></span></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="grade1/sinhala/level2" class="button3">ආපසු</a>
      </div>
    </div>
    </div>								    	
</div>

<!-- 
<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >ඉවරයි</button> 
    </div>
    <br>
  </div> 
         -->








