
<html>
    <head></head>
    <body class="back-image">

        <!-- page 01 -->
        <h1 style =  "margin-left:14em; margin-top: 30px; margin-bottom: 20px;"><b>හැඩතල ඉගෙනගනිමු</b></h1>
                <div class = "center" id="Page1" data-value="0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe id = "myVideo_shapes" class="embed-responsive-item" src="https://drive.google.com/file/d/1T3rOR2GD4k8gcITFrD_QFtVXK51c0gQT/preview" width="640" height="480"
                                  allowfullscreen></iframe>
                        </div>
                        <a style="margin-left:700px;" id ="playbtn_shapes" class="button1" onclick="return show_shapesL1('Page2','Page1');">සෙල්ලම් කරන්න</a>
                </div>

          <!-- page 02 -->
         <div class= "center1" style="display:none" id="Page2" data-value="1">

          <div id="time-back" style="z-index: 2;margin-top:10px; position: absolute; margin-left: 900px; background-color: azure; border-radius: 10px; width: 260px">
            <div id="display" style="margin-left:15px; font-size: 50px; font-family: 'Permanent Marker', cursive;">
              00:00:00
          </div>
    
          <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
          </div>
     </div>

         <div id = "startdiv" style ="z-index: 3; background-color:rgba(236, 236, 208, 0.95); border-style:solid; border-color:rgb(146, 146, 89); border-radius: 10px; height: 600px; width: 1200px; position: absolute">
          <button id="startbtn" onclick = "startgame()" class="button4"><b>ආරම්භ කරන්න</b></button>
          <img src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top: -300px; margin-left: 150px">
         </div>


            <form name="f1">

            <h3 style ="margin-top: 20px; margin-left: 30px;">වම් පසින් ඇති හැඩතලයට සමාන හැඩය සහිත <br> රූපය දකුණු පස ඇති රූප දෙකෙන් තෝරා click කරන්න.</h3>
            <h2 id="alert" style="visibility: hidden; color: red;"> සියල්ලටම පිලිතුරු සපයන්න</h2>
            <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -75px; margin-left: 600px;">
            <img src = "/assets/images/shape_sound2.gif" id="question-shapes" style="position: absolute; height:140px; margin-top: -95px; margin-left:700px">

            <audio id="quest_audio" src="assets/audio/shapesL1_quest.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                
            <fieldset style ="margin-left: 30px; margin-top: 30px;">
                <img src="/assets/images/pattern1.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 320px; margin-left: 80px; margin-right: 80px; padding: 8px;">
                <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:80px">
                <img name="brown" src="/assets/images/a_circle.JPG" id="a_circle"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test1_shapes2()">
                <img name="red" src="/assets/images/a_rec.JPG"  id="a_rec" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test2_shapes2()">
                <img name="rw1" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                <input type="checkbox" hidden name="fruit" id="mark1"/>
                <input type="checkbox" hidden name="fruit" id="unmark1"/>
                </fieldset>

            <br>
                <fieldset style ="margin-left: 30px; margin-top: 10px;">
                <img src="/assets/images/pattern2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 320px; margin-left: 80px; margin-right: 80px; padding: 15px;">
                <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:80px">
                <img name="rect" src="/assets/images/a_triangle.JPG"  id="a_tri" class="imagex" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test3_shapes2()">
                <img name="sqr" src="/assets/images/b_circle.JPG"  id="b_circle" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test4_shapes2()">
                <img name="rw2" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                <input type="checkbox"  hidden name="fruit" id="mark2"/>
                <input type="checkbox"  hidden name="fruit" id="unmark2"/>
            </fieldset>
            <br>

                <fieldset style ="margin-left: 30px; margin-top: 10px;">
                <img src="/assets/images/pattern3.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 320px; margin-left: 80px; margin-right:80px; padding: 13px;">
                <img name="clip3" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:80px">
                <img name="leaf1" src="/assets/images/b_triangle.JPG" id="a_sqa"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test5_shapes2()">
                <img name="leaf2" src="/assets/images/a_square.JPG" id="b_tri" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;"  onclick="test6_shapes2()">
                <img name="rw3" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                <input type="checkbox"  hidden name="fruit" id="mark3"/>
                <input type="checkbox"  hidden name="fruit" id="unmark3"/>
               
            </fieldset>
            <br>

            </form>

            <app-emotiondetector></app-emotiondetector>
            <img id ="arrow" src ="/assets/images/arrow_submit.gif" style="display: none; margin-top: -150px; margin-left: 1035px; height: 130px; width: 130px; position: absolute;">
            <button id="submit" class="button2" style="display: none;margin-left: 1050px" (click)="markstot_shapes2()">ඉවරයි</button>

            <!-- Trigger/Open The Modal -->
            <!-- <a id="myBtn" class="button2" >Submit</a> -->

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <!-- <span id ="close1" class="close">&times;</span> -->
                <!-- <img src="/assets/images/congratulations.gif" class="congrats_img" style = "margin-left: 270px;height: 280px; width: 450px;"> -->
                <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
                <a href="grade2/maths/level2"  class="button3" onclick="return show('Page3');">ආපසු</a>
                <!-- <a id ="next2" class="button3" style ="visibility: hidden" onclick="return show('Page3');">ඊලග</a> -->
              </div>
            </div>





            </div>


            <div class= "center1" style="display:none" id="Page3">
                <!--game background image-->
           
    
                </div>


            <!-- <form>
            <input type="submit" value="නැවත" style="position:absolute;top:510px;left:60px;width:100px;height:35px;font-size:20;color:blue" ></form> -->
            <!-- <div id="back_box" style="position:absolute; top: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 50px;"><span style="font-weight: bold; font-size: 28pt; margin-left: 10px;">රටාවේ ඊළඟට ගැළපෙන රූපය තෝරන්න.</span></div> -->
            <!-- <div id="back_box2" style="position:absolute; bottom: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 35px; padding-top: 15px; text-align: right;"><span style="font-weight: bold; font-size: 12pt; margin-right: 10px;">ගණිතය - 1 ශ්‍රේණිය</span></div> -->

</body>
</html>
