

<body style="background-size:cover;
background-image:url(/assets/images/bg3.jpg);
background-position:50% 50%;
margin-top:-50px;
left: 50px;
height:40em;  
width:100%;">
 <div id="clickarea">
    <button id="start">Start</button>
<style type="text/css">
    .txt{width:70px; height:70px; color:blue; font-size:50px; text-align:center}
    #but{width:150px; height:40px; color:blue; font-size:25}
</style>

<!--page 01 -->
<br>
<br>
<div id="page1-ad" class="center">

    
<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
    <iframe id = "myVideo_money" class="embed-responsive-item" src="https://drive.google.com/file/d/1uLwePUrMT_Jf7fzzhyxBE6lZqOQN_Low/preview" width="640" height="450" width="640" height="450"
      allowfullscreen>
</iframe>
</div>
<a style="margin-left:700px;width:200px;height:70px;margin-top: -20px;" id ="playbtn_money" class="button1" onclick="return showpages_ad('page2-ad')">සෙල්ලම් කරන්න</a>

</div>


<!--page 02 -->
<div id="page2-ad" style="display:none;position:absolute;top:40px;left:40px;">

    <div id="time-back" style="z-index: 2; margin-top: 30px; position: absolute; margin-left:1000px; background-color: azure; border-radius: 10px; width: 250px;">
        <div id="display" style="margin-left:15px; font-size: 50px; font-family: 'Permanent Marker', cursive;">
          00:00:00
      </div>

      <div class="buttons" >
          <button hidden id="startStop" onclick="startStop()">Start</button> 
          <button hidden id="reset" onclick="reset()">Reset</button>
      </div>
 </div>

     <div id = "startdiv" style ="margin-top:20px;z-index: 3; background-color: rgba(236, 236, 208, 0.95); border-style: solid; border-color: rgb(146, 146, 89); border-radius: 10px; height: 580px; width: 1200px; position: absolute;margin-left:30px;">
      <button id="startbtn" onclick = "startgame_shape3()" class="button4"><b>ආරම්භ කරන්න</b></button>
      <img src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top: -300px; margin-left: 150px">
     </div>



    <h4 style="margin-left: 200px; margin-top:60px;">ඉලක්කම් දෙක එකතු කරමු</h4>
    <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -50px; margin-left: 10px;">
    <img src = "/assets/images/shape_sound2.gif" id="question-add" style="position: absolute; height: 140px; margin-top: -80px; margin-left: 80px;">
    <audio id="quest_audio_add" src="assets/audio/G2L2-add-quest.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>

    <form name="f1" >
    <!-- <div style="position:absolute;top:100;left:10"></div> -->
        <div style="position:absolute;top:100px;left:40px">
            <input type="text"  value="." readonly="true" style="width:50px;height:50px; font-size:20px;background:transparent; color:black; border-width:0px">
        </div>
    
        <input type="text" name="t1" value="15"  readonly="true" style="position:absolute;top:150px;left:200px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px ;">
        <input type="text" name="t2" value="10" readonly="true" style="position:absolute;top:250px;left:200px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px">
        <input type="text" name="t3" value="" readonly="true" style="position:absolute;top:350px;left:200px;height:70px;width:120px;text-align:center;font-size:50px; color:blue;border-radius:15px">
        <img src="/assets/images/+.png" style="position:absolute;top:260px;left:120px;width:50px;height:50px">

        <div style="position:absolute;top:440px;left:200px;border:solid thin;width:120px;height:0px"></div>
        <div style="position:absolute;top:335px;left:200px;border:solid thin; ;width:120px;height:2px"></div>
         
        <img src="/assets/images/engine.png" style="margin-top:380px;left:00px;width:150px;height:150px">
        <div style="position:absolute;top:500px;left:150px;height:100px;width:250px;border-style: solid;background-color: black;">
            <input type="button" id="n1" class="txt" name="b6" value="27"  onclick="testoadd6()" style="position:absolute;top:10px;left:10px;border-radius:15px">
            <input type="button" id="n2" class="txt" name="b3" value="25"  onclick="testoadd3()" style="position:absolute;top:10px;left:90px;border-radius:15px">
            <input type="button" id="n3" class="txt" name="b4" value="26"  onclick="testoadd4()" style="position:absolute;top:10px;left:170px;border-radius:15px">
            <img name="rw1" src="/assets/images/trans.svg" style="height:150px; width:150px;margin-top:-190px;margin-left:160px  ; ">
            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </div>

         </form>
    <!-------------addition 2 --------------->

    <form name="f2" >
     
        <div style="position:absolute;top:100px;left:40px">
            <input type="text"  value="." readonly="true" style="width:50px;height:50px; font-size:20px;background:transparent; color:black; border-width:0px">
        </div>
        
        <input type="text" name="t4" value="12"  readonly="true" style="position:absolute;top:150px;left:610px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px">
        <input type="text" name="t5" value="13" readonly="true" style="position:absolute;top:250px;left:610px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px">
        <input type="text" name="t6" value="" readonly="true" style="position:absolute;top:350px;left:610px;height:70px;width:120px;text-align:center;font-size:50px; color:blue;border-radius:15px">
        <img src="/assets/images/+.png" style="position:absolute;top:260px;left:550px;width:50px;height:50px">
        <div style="position:absolute;top:440px;left:610px;border:solid thin;width:120px;height:0px"></div>
        <div style="position:absolute;top:335px;left:610px;border:solid thin; ;width:120px;height:2px"></div>   
        
        <div style="position:absolute;top:500px;left:520px;height:100px;width:250px;border-style: solid;background-color: black;">
           
            <input type="button" id="n4"class="txt" name="b32" value="23"  onclick="testoadd32()" style="position:absolute;top:10px;left:10px;border-radius:15px ;">
            <input type="button" id="n5"class="txt" name="b52" value="25"  onclick="testoadd52()" style="position:absolute;top:10px;left:90px;border-radius:15px">
            <input type="button" id="n6"class="txt" name="b62" value="28"  onclick="testoadd62()" style="position:absolute;top:10px;left:170px;border-radius:15px">
            <img name="rw2" src="/assets/images/trans.svg" style="height:150px; width:150px;margin-top:-190px;margin-left:200px  ; ">
            <input type="checkbox" hidden name="fruit" id="mark2"/>
            <input type="checkbox" hidden name="fruit" id="unmark2"/>
        </div>
    

        </form> 

        <!-- --------//addition 3------ -->
        <form name="f3" >
 
            <div style="position:absolute;top:100px;left:40px">
            <input type="text"  value="." readonly="true" style="width:50px;height:50px; font-size:20px;background:transparent; color:black; border-width:0px">
            </div>
            
            <input type="text" name="t7" value="18"  readonly="true" style="position:absolute;top:150px;left:1000px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px">
            <input type="text" name="t8" value="11" readonly="true" style="position:absolute;top:250px;left:1000px;height:70px;width:120px;text-align:center;font-size:50px; color:brown;border-radius:15px">
            <input type="text" name="t9" value="" readonly="true" style="position:absolute;top:350px;left:1000px;height:70px;width:120px;text-align:center;font-size:50px; color:blue;border-radius:15px">
            <img src="/assets/images/+.png" style="position:absolute;top:260px;left:940px;width:50px;height:50px">
            <div style="position:absolute;top:440px;left:1000px;border:solid thin;width:120px;height:0px"></div>
            <div style="position:absolute;top:335px;left:1000px;border:solid thin; ;width:120px;height:2px"></div>   
            
            <div style="position:absolute;top:500px;left:900px;height:100px;width:250px;border-style: solid;background-color: black;">
                
                <input type="button" id="n7" class="txt" name="b723" value="29"  onclick="testoadd723()" style="position:absolute;top:10px;left:10px;border-radius:15px">
                <input type="button" id="n8" class="txt" name="b923" value="19"  onclick="testoadd923()" style="position:absolute;top:10px;left:90px;border-radius:15px">
                <input type="button" id="n9" class="txt" name="b1023" value="23"  onclick="testoadd1023()" style="position:absolute;top:10px;left:170px;font-size:50px;border-radius:15px">
                <img name="rw3" src="/assets/images/trans.svg" style="height:150px; width:150px;margin-top:-190px;margin-left:220px  ; ">
                <input type="checkbox" hidden name="fruit" id="mark3"/>
                <input type="checkbox" hidden name="fruit" id="unmark3"/>
            </div>
            
            </form>  
            

            <app-emotiondetector></app-emotiondetector>
            <button id="submit" class="button2" style="display: none;margin-top:-100px ;margin-left:1200px ;" (click)="markstot_additions5()">ඉවරයි</button> 
            <div hidden id="clickarray"></div>

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
               <div style="margin-left: -60px;">
                <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
                <a href="grade2/maths/level1"  style="margin-left:440px;" class="button3">ආපසු</a>   
               </div>
               
              </div>
            </div>

</div>

</div>
</body>  





