
<body style="background-size:cover;
background-image:url(/assets/images/dini.jpeg);
background-position:50% 50%;
margin-top:-50px;
left: 50px;
height:40em;  
width:100%;">


<!--page 01 (weight) -->
<div id="page1-length">
    <!-- <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level2/length" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a> -->
   
    <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:70px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page2-length')"> Next &raquo;</a>

<form name="f1">
    <!-- weighing scale -->
    <div id="box2" style="position:absolute; top:140px; left:320px;width:300px; height:380px;" >
        <img  name="clip1" style="height:520px;margin-top:-15px" src="/assets/images/scale.png">
    </div>

    <!-- heavy-weighted image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:202px; margin-left:136px; width:162px; height:180px"src="/assets/images/tub.png" onClick="testweight1();">
    </div>

    <!-- light-weighted image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:92px; margin-left:-280px; width:200px; height:200px"src="/assets/images/ice1.gif" onClick="testweight2();">
    </div>
 
    <div id="box4" style="position:absolute; top:520px; left:340px; width:200px; height:50px">
        <input type="text" name="txt7" value="" readonly="true" style= "width:270px; height:50px; margin-left:350px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent;color:black; font-size:30px">
    </div>     
    
    <div id="box5" style="position:absolute; top:520px; left:640px;width:200px; height:50px" >
        <input type="text" name="txt8" value="" readonly="true" style= "width:270px; height:50px; margin-left:-350px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent; color:black; font-size:30px">
    </div>    
    
</form>

</div>


<!--page 02 (volume) -->
<div id="page2-length" style="display:none;position:absolute;top:40px;left:150px;">
    <!-- <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level2/length" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a> -->
   
    <a style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page1-length')">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page3-length')"> Next &raquo;</a>
<form name="f2">

    <!-- less volume image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:70px; margin-left:-300px; width:147.5px; height:320.05px"src="/assets/images/half-glass.png" onClick="testweight3();">
    </div>

    <!-- more volume image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:70px; margin-left:-25px; width:147.5px; height:320.05px"src="/assets/images/full-glass.png" onClick="testweight4();">
    </div>
 
    <div id="box4" style="position:absolute; top:520px; left:280px; width:300px; height:50px">
        <input type="text" name="txt9" value="" readonly="true" style= "width:550px; height:50px; margin-left:-200px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent;color:black; font-size:30px">
    </div>     
    
    <div id="box5" style="position:absolute; top:520px; left:600px;width:200px; height:50px" >
        <input type="text" name="txt10" value="" readonly="true" style= "width:550px; height:50px; margin-left:-25px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent; color:black; font-size:30px">
    </div>    
    
</form>

</div>
    
<div id="page3-length" style="display:none;position:absolute;top:40px;left:150px;">
    
    <a  style ='margin-top:70px;margin-left:-60px;color:green;height:50px;' class="previous button1" onclick="showpages_length('page2-length')">&laquo; Previous</a>
  
    
<form name="f3" >
  
    <img src ="/assets/images/pic1.JPG" style="width:350px;height:200px;margin-left:150px;margin-right:100px;border-style: solid;border-radius:15px ;">
    <img src ="/assets/images/pic3.JPG" style="width:350px;height:200px;margin-right:250px;border-style: solid;border-radius:15px">
   
    <div id="box1" style="position:absolute; top:350px; left:230px; width:240px; height:140px; border:transparent">
        <img  name="clipa" id="lkid1ab" src="/assets/images/q1.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;"onclick="testcounts1game8();" hspace=10 >
        <img name="clipb" id="lkid2ab" src="/assets/images/q2.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game7();">
        <input type="checkbox"  hidden name="fruit" id="mark4"/>
        <input type="checkbox"  hidden name="fruit" id="unmark4"/>
    </div>

    <div id="box5" style="position:absolute; top:350px; left:700px; width:240px; height:140px;border:transparent " >
        <img  name="clipc" id="tree1ab" src="/assets/images/q3.JPG"  style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game9();">
        <img  name="clipd" id="tree2ab" src="/assets/images/q5.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game10();" hspace=10>
        <input type="checkbox"  hidden name="fruit" id="mark5"/>
        <input type="checkbox"  hidden name="fruit" id="unmark5"/>
    </div>


    <div id="box11" style="position:absolute; top:0px; left:0px; width:200px; height:180px" >
        <img name="clip71" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box3" style="position:absolute; top:400px; left:900px; width:200px; height:180px" >
        <img name="clip81" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box13" style="position:absolute; top:480px; left:200px; width:150px; height:50px" >
        <input type="text" name="txt1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>
 
     <div id="box14" style="position:absolute; top:480px; left:700px;width:150px; height:50px" >
         <input type="text" name="txt2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
     </div>
    
   
</form>


    

