.button1 {
    border-radius: 12px;
    background-color:#ffffff;
    border: none;
    color:black;
    text-align: center;
    font:green;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height:60px;
  
  } 
  /*-----button2-----*/
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    a:hover {
      background-color:#ffffff;
      color: black;
    }
    
    .previous {
    background-color:#ffffff;
  
      color: black;
    }
    
    .next {
      background-color:white;
      color: white;
    }
    
    .round {
      border-radius: 50%;
    }

  /* #page1-length::before{    
      content: "";
      background-image: url(/assets/images/length-L2-back.jpg);
      background-size: cover;
      position: absolute;
      opacity: 0.75;
      } */

  
  /* #page2-length {
  background-size:cover;
  background-image:url(/assets/images/volume-bg.jpg);
  background-position:50% 50%;
  margin-top:40px;
  left: 400px;
  height:40em;  
  width:100%;
} */
 

  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #d2ecb5; */
  background-color: #ffffff;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 10px solid rgb(73, 160, 52);
  border-radius: 12px;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 70%;
  z-index: 1;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.coin_img{
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes example {
  from {top: 10px;}
  to {top: 70px; }
}
.coin_img{
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    
  }