
<body style="background-size:cover;
background-image:url(/assets/images/dini.jpeg);
background-position:50% 50%;
margin-top:-50px;
left: 50px;
height:40em;  
width:100%;">


<!--page 01 (weight) -->
<div id="page1-length">
    <!-- <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level2/length" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a> -->
   
    <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:70px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page2-length')"> Next &raquo;</a>

<form name="f1">
    <!-- weighing scale -->
    <div id="box2" style="position:absolute; top:140px; left:320px;width:300px; height:380px;" >
        <img  name="clip1" style="height:520px;margin-top:-15px" src="/assets/images/scale.png">
    </div>

    <!-- heavy-weighted image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:202px; margin-left:136px; width:162px; height:180px"src="/assets/images/tub.png" onClick="testweight1();">
    </div>

    <!-- light-weighted image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:92px; margin-left:-280px; width:200px; height:200px"src="/assets/images/ice1.gif" onClick="testweight2();">
    </div>
 
    <div id="box4" style="position:absolute; top:520px; left:340px; width:200px; height:50px">
        <input type="text" name="txt7" value="" readonly="true" style= "width:270px; height:50px; margin-left:350px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent;color:black; font-size:30px">
    </div>     
    
    <div id="box5" style="position:absolute; top:520px; left:640px;width:200px; height:50px" >
        <input type="text" name="txt8" value="" readonly="true" style= "width:270px; height:50px; margin-left:-350px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent; color:black; font-size:30px">
    </div>    
    
</form>

</div>


<!--page 02 (volume) -->
<div id="page2-length" style="display:none;position:absolute;top:40px;left:150px;">
    <!-- <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level2/length" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a> -->
   
    <a style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page1-length')">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_length('page3-length')"> Next &raquo;</a>
<form name="f2">

    <!-- less volume image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:70px; margin-left:-300px; width:147.5px; height:320.05px"src="/assets/images/half-glass.png" onClick="testweight3();">
    </div>

    <!-- more volume image -->
    <div id="box3" style="position:absolute; top:100px; left:600px; width:150px; height:150px;" >
        <img  name="clip1" style ="margin-top:70px; margin-left:-25px; width:147.5px; height:320.05px"src="/assets/images/full-glass.png" onClick="testweight4();">
    </div>
 
    <div id="box4" style="position:absolute; top:520px; left:280px; width:300px; height:50px">
        <input type="text" name="txt9" value="" readonly="true" style= "width:550px; height:50px; margin-left:-200px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent;color:black; font-size:30px">
    </div>     
    
    <div id="box5" style="position:absolute; top:520px; left:600px;width:200px; height:50px" >
        <input type="text" name="txt10" value="" readonly="true" style= "width:550px; height:50px; margin-left:-25px; text-align:center; font-weight:bold;background-color:transparent;border-color:transparent; color:black; font-size:30px">
    </div>    
    
</form>

</div>
    
<div id="page3-length" style="display:none;position:absolute;top:40px;left:150px;">
    
    <a  style ='margin-top:70px;margin-left:-60px;color:green;height:50px;' class="previous button1" onclick="showpages_length('page2-length')">&laquo; Previous</a>
  
    
<form name="f3" >
    <!-- <div id="box1" style="position:absolute; top:220px; left:330px; width:240px; height:140px; border:transparent">
    <img  name="clipa" id="lkid1" src="/assets/images/lkid2.gif" style="height:120px;width:120px"onclick="test2lgame2();" hspace=10 >
    <img name="clipb" id="lkid2" src="/assets/images/lkid1.gif" style="height:60px;width:60px" onclick="testl2game();">
    <input type="checkbox"  hidden name="fruit" id="mark1"/>
    <input type="checkbox"  hidden name="fruit" id="unmark1"/>
    </div>
    
    <div id="box2" style="position:absolute; top:340px; left:335px; width:400px; height:80px">
    <img name="clip1" src="/assets/images/blank.png">
    <img name="clip2" src="/assets/images/blank.png" hspace=100>
    </div> -->
    
    <div id="box5" style="position:absolute; top:180px; left:20px; width:640px; height:340px;border:transparent " >
    <h3><b>බර අඩූ රුපය තොරමු</b></h3>
    <img  name="clipc" id="tree1" src="/assets/images/tree12.png"  style="height:150px;width:150px" onclick="testl2game3();">
    <img  name="clipd" id="tree2" src="/assets/images/tree22.png" style="height:200px;width:200px" onclick="testl2game4();" hspace=10>
    <input type="checkbox"  hidden name="fruit" id="mark2"/>
    <input type="checkbox"  hidden name="fruit" id="unmark2"/>
    </div>
    
    <div id="box6" style="position:absolute; top:350px; left:25px;width:800px; height:280px" >
    <img name="clip3" src="/assets/images/blank.png">
    <img name="clip4" src="/assets/images/blank.png" hspace=95>
    </div>
    
    <h3 style="position:absolute; top:220px;left:560px;width:640px"><b>වැඩියෙන් වතුර අල්ලන රුපය තොරමු</b></h3>
    <div id="box9" style="position:absolute; top:200px;left:520px;width:640px;height:340px;border:transparent">
    <img name="clipe" id="pen1" src="/assets/images/pen12.png"  style="height:100px;width:80px" onclick="testl2game5();" hspace=10; vspace=9>
    <img name="clipf" id="pen2" src="/assets/images/pen22.png" style="height:100px;width:120px" onclick="testl2game6();" vspace=9>
    <input type="checkbox"  hidden name="fruit" id="mark3"/>
    <input type="checkbox"  hidden name="fruit" id="unmark3"/>
    </div>
    
    <div id="box10" style="position:absolute;top:360px;left:50px;width:800px;height:280px" >
    <img name="clip5" src="/assets/images/blank.png" hspace=10>
    <img name="clip6" src="/assets/images/blank.png" hspace=90>
    </div>
    
    <!-- <div id="box11" style="position:absolute; top:450px; left:290px; width:200px; height:180px" >
    <img name="clip7" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div> -->
    
    <!-- <div id="box3" style="position:absolute; top:450px; left:550px; width:200px; height:180px" >
    <img name="clip8" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>
    
    <div id="box4" style="position:absolute; top:450px; left:800px;width:200px; height:180px" >
    <img name="clip9"style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div> -->
    
    <!-- <div id="box13" style="position:absolute; top:380px; left:360px; width:150px; height:50px" >
    <input type="text" name="txt1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div> -->
    
    <div id="box14" style="position:absolute; top:480px; left:180px;width:150px; height:50px" >
    <input type="text" name="txt2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>
    
    <div id="box17" style="position:absolute; top:380px; left:850px;width:150px;height:50px" >
    <input type="text" name="txt3" value=""  readonly="true" style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>
    
    <button id="submit" class="button2" style="display: block;" (click)="markstot_length2()">ඉවරයි</button> 
    
                <!-- Trigger/Open The Modal -->
                <!-- <a id="myBtn" class="button2" >Submit</a> -->
    
                <!-- The Modal -->
                <div id="myModal" class="modal">
    
                  <!-- Modal content -->
                  <div class="modal-content">
                    <!-- <span id ="close1" class="close">&times;</span> -->
                    <!-- <img src="/assets/images/congratulations.gif" class="congrats_img" style = "margin-left: 270px;height: 280px; width: 450px;"> -->
                    <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                    <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                    <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                    <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                    <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                    <!-- <a href="#"  class="button3" onclick="return show('Page1','Page2');">ආපසු</a> -->
                    <a href=""  class="button3">ආපසු</a>
                  </div>
                </div>
    
   
   </form>


    

