@import "~bootstrap/dist/css/bootstrap.css";
 .image{
    height:40em; 
    background-size:cover; 
    width:100%;
    background-image:url(/assets/images/1478.jpg);
    background-position:50% 50%;
    margin-top:-50px;
   
  }
  .button3 {
    border-radius: 12px;
    background-color:#4CAF50;
    border: none;
    color:white;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    width: 450px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  
  }
  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button3:hover span {
    padding-right: 25px;
    background-color:white;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
    background-color:white;
  }
  
  .dis-button3 {
    border-radius: 12px;
    background-color:#7b8a7b;
    border: none;
    color:white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    width: 450px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 132px
    
  }
  .dis-button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .dis-button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .dis-button3:hover span {
    padding-right: 25px;
    /* background-color:white; */
  }
  
  .dis-button3:hover span:after {
    opacity: 1;
    right: 0;
    /* background-color:white; */
  }

  .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a:link, a:visited {
      color:white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }

 
 /*-----button1 ----->*/
.button1 {
  border-radius: 12px;
  background-color:#ffffff;
  border: none;
  color:black;
  text-align: center;
  font:green;
  font-size: 20px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height:60px;

} 
/*-----button2-----*/
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color:#ffffff;
    color: black;
  }
  
  .previous {
  background-color:#ffffff;

    color: black;
  }
  
  .next {
    background-color:white;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }