
<html>

    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description" content="Login - Register Template">
        <meta name="author" content="Lorenzo Angelino aka MrLolok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
       
    </head>
    <body class = "image">
        <a href="/grade1/sinhala" style ='margin-top:65px;margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
           
        <br>
        <br>
        <br>
        <br>
        <br>
    <h1 align ="center"><b>  සිංහල </b></h1>
    <br>
    <br>
        <div style="width: 100%;">
            <div style="float:left;margin-inline-start:248px ;">  
               <div *ngIf="btn1 == 0">
                <button class="button3"><a routerLink='/grade1/sinhala/level1/game1'><span>රූප ඇසුරින් වචන හදමු</span></a></button> 
               </div> 

               <div *ngIf="btn1 == 1">
                <button class="dis-button3"><a disabled="disabled"><span>රූප ඇසුරින් වචන හදමු
                <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                </span></a></button> 
            </div> 

               <div *ngIf="btn2 == 0">
                <button class="button3"><a routerLink='/grade1/sinhala/level1/game3'><span>වගන්ති හදමු</span></a></button> 
               </div>  

             <div *ngIf="btn2 == 1">
                <button class="dis-button3"><a disabled="disabled"><span>වගන්ති හදමු
                <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                </span></a></button> 
            </div> 
        </div>

          
            <div style="margin-inline-end:130px;">
                <div *ngIf="btn3 == 0">
                    <button class="button3"><a routerLink='/grade1/sinhala/level1/game2'><span>හිස්තැන් පුරවමු</span></a></button> 
                   </div> 

                   <div *ngIf="btn3== 1">
                    <button class="dis-button3"><a disabled="disabled"><span>හිස්තැන් පුරවමු
                    <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                    <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                    </span></a></button> 
                </div> 
              

                   <div *ngIf="btn4 == 0">
                    <button class="button3"><a routerLink='/grade1/sinhla/level1/game4'><span>සිංදු සහ කවි</span></a></button> 
                   </div> 

                   <div *ngIf="btn4 == 1">
                    <button class="dis-button3"><a disabled="disabled"><span>සිංදු සහ කවි
                    <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                    <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                    </span></a></button> 
                </div> 
            </div>
        </div> 



<!-- <div class="w3-container">
    <img style="margin-left: 120px;width:400px;height:400px" src="/assets/images/learn.gif">
  <button style="text-decoration: none;width:500px;height:300px;background-color:DodgerBlue;;margin-left:30px;border-radius:15px ;text-decoration: none;font-size:50px;"><a routerLink='/grade1/maths/level1/counting'>ගණන් කරන්න ඉගෙන ගමු.</a></button>
  
  <a class="w3-button w3-black w3-disabled" href="#">Link Button</a>
</div> -->

    
    
      </body>
      </html>
      

