<!DOCTYPE html>
<html lang="en">
<head>7
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/1478.jpg);">
   
<div class="container" class="image" style="height:100%;">
  <a href="/grade1/sinhala" style ='margin-top:65px;margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
     
    <h1 align ="center" style="margin-top:100px ;"><b>  සිංහල - පියවර 1</b></h1>

        <div class="row" style="margin-top:50px ;">
          <div class="col-sm-3 col-xs-3  col-lg-3">
          </div>  
            <div class="col-sm-3 col-xs-3  col-lg-3">  
                    <div *ngIf="btn1 == 0">
                          <button class="button3"><a routerLink='/grade1/sinhala/level1/game1'><span>සිංදු සහ කවි</span></a></button> 
                    </div> 

                    <div *ngIf="btn1 == 1">
                          <button class="dis-button3"><a disabled="disabled"><span>සිංදු සහ කවි
                          <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                          <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                          </span></a></button> 
                    </div> 
            </div>

            <div class=" col-sm-3 col-xs-3  col-lg-3">
                          <div *ngIf="btn2 == 0">
                              <button class="button3"><a routerLink='/grade1/sinhala/level1/game3'><span>වචන තෝරමු</span></a></button> 
                          </div>  

                          <div *ngIf="btn2 == 1">
                            <button class="dis-button3"><a disabled="disabled"><span>වචන තෝරමු
                          <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                           <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
                          </span></a></button> 
                           </div> 
             </div>

           
</div>

<div class="row">
  <div class="col-sm-3 col-xs-3  col-lg-3">
  </div>  

  <div class="col-sm-3 col-xs-3  col-lg-3">  
        <div *ngIf="btn3 == 0">
             <button class="button3"><a routerLink='/grade1/sinhala/level1/game2'><span>වචන හදමු</span></a></button> 
        </div> 

      <div *ngIf="btn3== 1">
      <button class="dis-button3"><a disabled="disabled"><span>වචන හදමු
      <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
      <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
      </span></a></button> 
      </div> 
  </div>

  <div class="col-sm-3 col-xs-3  col-lg-3">

    <div *ngIf="btn4 == 0">
      <button class="button3"><a routerLink='/grade1/sinhla/level1/game4'><span> හිස්තැන් පුරවමු</span></a></button> 
      </div> 

      <div *ngIf="btn4 == 1">
      <button class="dis-button3"><a disabled="disabled"><span> හිස්තැන් පුරවමු
      <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
      <img src = "/assets/images/completed.png" style="margin-top:-25px;margin-bottom:-15px;height: 60px;">
      </span></a></button> 
      </div> 







                

   </div>

   <div class="col-sm-3 col-xs-3  col-lg-3">
   </div>  
</div>
 <br>
 <br>
 <br> 
        
</div>








