

<body style="background-size:cover;
background-image:url(/assets/images/by.jpg);
background-position:50% 50%;
margin-top:-50px;
left: 50px;
height:40em;  
width:100%;">


<!--page 01 -->
<div id="page1-sub">
    <a href="/grade2/maths/level1" style ='margin-top:70px;margin-left:70px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>   
<a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_sub('page2-sub')"> Next &raquo;</a>

<p>hello world 1</p>
</div>


<!--page 02 -->
<div id="page2-sub" style="display:none;position:absolute;top:40px;left:150px;">
   
    <a style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1" onclick="showpages_sub('page1-sub')">&laquo; Previous</a>

    <p>hello world 2</p>

</div>

    

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- <span id ="close1" class="close">&times;</span> -->
      <!-- <img src="/assets/images/congratulations.gif" class="congrats_img" style = "margin-left: 270px;height: 280px; width: 450px;"> -->
      <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 5px; position: absolute">
      <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 150px; margin-top: -50px; position: absolute;">
      <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 290px; margin-top: -50px; position: absolute">
      <img id ="coin4" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 430px; position: absolute">
      <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
      <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
      <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
      <a href="grade1/maths/level2"  class="button3">ආපසු</a>

    </div>
</div>



