<!DOCTYPE html>
<html lang="en">
<head>7
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/1478.jpg);">
  <ul class="breadcrumb">
    <li><a routerLink='/dashboard'>2 ශ්‍රේණිය</a></li>
    <li><a>සිංහල</a></li>
    <li><a routerLink='/grade1/environment'>පහසු පියවර</a></li>
<li><a style="background-color: #46360d; color:blanchedalmond; border-radius:10px " routerLink='/grade2/environment/level2'>සෙල්ලම් කරමු</a></li>
  </ul>
<div class="container" class="image" style="height:100%;">
  <!-- <a href="/grade1/sinhala" class="previous button1">&laquo; Previous</a> -->
     
    <!-- <h1 align ="center" class="heading1"><b>  සිංහල - පියවර 1</b></h1> -->

        <div class="row" style="margin-top:50px ;">
          <div class="col-sm-3 col-xs-3  col-lg-3">
          </div>  
            <div class="col-sm-3 col-xs-3  col-lg-3">  
                    <div *ngIf="btn1 == 0">
                          <button class="button3"><a routerLink='/grade2/environment/level1/video1' style="color:white;"><span>අපේ පවුල</span></a></button> 
                    </div> 

                    <div *ngIf="btn1 == 1">
                          <button class="dis-button3"><a style="color:white;" disabled="disabled"><span>අපේ පවුල 
                          <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                          <img src = "/assets/images/completed.png" class="completed-icon">
                          </span></a></button> 
                    </div> 
            </div>

            <div class=" col-sm-3 col-xs-3  col-lg-3">
                          <div *ngIf="btn2 == 0">
                              <button class="button3"><a style="color:white;" routerLink='/grade2/environment/level1/video2'><span> ආහාර</span></a></button> 
                          </div>  

                          <div *ngIf="btn2 == 1">
                            <button class="dis-button3"><a style="color:white;" disabled="disabled"><span>ආහාර
                          <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
                           <img src = "/assets/images/completed.png" class="completed-icon">
                          </span></a></button> 
                           </div> 
             </div>

           
</div>



<div class="row">
  <div class="col-sm-3 col-xs-3  col-lg-3">
  </div>  

  <div class="col-sm-3 col-xs-3  col-lg-3">  
        <div *ngIf="btn3 == 0">
             <button class="button3"><a style="color:white;" routerLink='/grade2/environment/level1/video3'><span>අප අවට සත්තු</span></a></button> 
        </div> 

      <div *ngIf="btn3== 1">
      <button class="dis-button3"><a style="color:white;" disabled="disabled"><span>අප අවට සත්තු
      <!-- <img src="assets/images/money-icon.png" style="position:absolute;height: 100px; width: 100px; margin-left: -235px; margin-top: -30px;"> -->
      <img src = "/assets/images/completed.png" class="completed-icon">
      </span></a></button> 
      </div> 
  </div>

  <div class="col-sm-3 col-xs-3  col-lg-3">

    <div *ngIf="btn4 == 0">
      <button class="button3"><a style="color:white;" routerLink='/grade2/environment/level1/video4'><span>අවුරුදු කාලය</span></a></button> 
      </div> 

      <div *ngIf="btn4 == 1">
      <button class="dis-button3"><a style="color:white;" disabled="disabled"><span>අවුරුදු කාලය
      <img src = "/assets/images/completed.png" class="completed-icon">
      </span></a></button> 
      </div>
   </div>

   <div class="col-sm-3 col-xs-3  col-lg-3">
   </div>  
</div>


<div class="row">
  <div class="col-sm-4 col-xs-4  col-lg-4">

  </div>
  <div *ngIf="btn5 == 0" class="col-sm-4 col-xs-4  col-lg-4">
  <button class="button3" ><a style="color:white;" routerLink='/grade2/environment/level1/game5'><span> අවට පරිසරය</span></a></button> 
</div>
  <div *ngIf="btn5 == 1" class="col-sm-4 col-xs-4  col-lg-4">
    <button class="dis-button3"><a style="color:white;" disabled="disabled"><span>  අවට පරිසරය
    <img src = "/assets/images/completed.png" class="completed-icon">
    </span></a></button> 
    </div>
  
  <div class="col-sm-4 col-xs-4  col-lg-4">

  </div>

</div> 
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <div *ngIf="nxtBtn == 5">
      <img src ="/assets/images/arrow_right.gif" style="max-height: 100px; max-width: 100px;">
      <a href="/grade2/environment/" style ='color: green; height: 50px;' class="button1"> පියවර 2ට&raquo;</a>   
  </div> 
  </div>
</div>

 <br>
 <br>
 <br> 
        
</div>








