<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>

<body id="banner" style="background-size:cover;background-image:url(/assets/images/fun.jpg);">
<div class="container" class="image" style="height:100% ;width:100%;">
  <div id = "startdiv">
    <button id="startbtn" class="button4" onclick = "startgame_sinhala()"><b>ආරම්භ කරන්න</b></button>
    <img id="start-img" src = "/assets/images/start_button.png" >
  </div>
<br>

<!-- row 1 -->
    <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <!-- <a href="/grade2/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a> -->
      </div>
    
      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <!-- <img src = "/assets/images/sound_audio3.gif" style="height:60px;"> -->
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px ;"><b>සිංදු රස විඳිමු-2</b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
            </div>
            <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
            </div>
        </div>
      
      </div>
    </div>

<!-- row 2 -->
  
    <div class="row" >
      <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
    </div>

    <div class="row" >
      <div class="col-4">
        <img src = "/assets/images/sound_audio3.gif" id="audio_img" class="question-audio" onclick="poems_play_g2_l2()" style="height:60px; float:right">
        <audio id="poems_play_g2_l2_audio" src="assets/audio/sinhala/G2L2Poems1.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>
      </div>
      <div class="col-4">
        <h3 style="text-align: center;margin-top: 10px;"><b>සිංදුව අසා නිවැරදි පිළිතුරු තෝරන්න</b></h3><br>
      </div>
      <div class="col-4">
      </div>
    </div>
  
    
    <div class="row">
        <div class="col-sm-6 col-xs-6  col-lg-6">
            <iframe src="https://drive.google.com/file/d/1RMNMxn2NUQPRNdZSShOJf_cqpgNQ560_/preview"  width="90%" height="360px" style ="margin-left:10px"></iframe>
            <br>
        </div>
        
        <div class="col-sm-2 col-xs-2 col-lg-2">
            <h5 style="margin-left: 10px;">
                සිරිමත් මගෙ සකි<br>
                යහපත් ළමයෙකි<br>
                නුවණත් ඇත්තෙකි<br>
                වැඩටත් සමතෙකි<br><br>
                උදය ම පුබු දී<br>
                මුහුණට දිය දී<br>
                කුල දෙවි නම ඳී<br>
                ගේ දොර අම ඳී<br><br>
                පාඩම් කරන ට<br>
                පත-පොත ගෙන සිට<br>
                සිත වෙන දෙය කට<br>
                නො හරී කිසි විට</h5>
        </div>
                
        <div class="col-sm-2 col-xs-2  col-lg-2">
            <h5  style="margin-left: 10px;">    
                වෙලාව  නො වැරැද<br>
                කෑමට ආ සඳ<br>
                ඔහුට වඩා සො ඳ<br>
                මහතෙකු කවරෙ ද<br><br>               
                පාසල් යන්නේ<br>
                දෙව් ලොව මෙන්නේ<br>
                දැක දරුවන්නේ<br>
                මුහුණු පිපෙන්නේ<br><br>
                එහි කියැවීමට<br>
                ලි‍යුමට ගැණුමට<br>
                කවි ගී කීමට<br>
                දෙවැනි ද කා හට</h5>
        </div>
        
        <div class="col-sm-2 col-xs-2 col-lg-2">
            <h5 style="margin-left: 10px;">
                නින්දට යන තැන<br>
                කුල දෙවි වඳිමින<br>
                කටයුතු පසු දින<br>
                සලකයි නුවණින<br><br>
                සොඳ දේ සිතුමත්<br>
                සිතු දේ කීමත්<br>
                කී දේ කැරුමත්<br>
                නො හරී සිරිමත්<br><br>
                මා-පිය සහ ගුරු<br>
                නැ-දෑ සොහොවුරු<br>
                සැමට ම කීකරු<br>
                සැපතෙකි මේ දරු</h5>
        </div>
    </div> 
        
    <br>
   
    <div class="row">
      <div class="col-12">
          <h3 style="margin-left:5px; text-align: center;font-size:2vw;">ඉහත ගීතයෙන් කියවෙන අදහස් ඇති වැකි ඉදිරියෙන් ඇති, ✔ හෝ ✖ ලකුණ නිවැරදි ලෙස තෝරන්න</h3>
      </div>
      <br>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6  col-lg-6">
        <img src="/assets/images/sirimath-1.png" id="image1" style="max-width:50%; border: 2px solid black; border-radius:20px;margin-right:5px; margin-left:10px;" > 
        <img src="/assets/images/correct.JPG" id="sin01" style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sirimath1()"> 
        <img src="/assets/images/wrong.JPG" id="sin02"  style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sirimath2()"> 
        <img id ="sine01" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        <img id ="sine02" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">   

        <input type="checkbox" hidden name="fruit" id="mark1"/>
        <input type="checkbox" hidden name="fruit" id="unmark1"/> 
      </div>
      
      <div class="col-sm-6 col-xs-6  col-lg-6">
        <img src="/assets/images/sirimath-2.png" id="image1" style="max-width:50%; border: 2px solid black; border-radius:20px; margin-right:5px;" >
        <img src="/assets/images/correct.JPG" id="sin03" style="max-width:15%;border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sirimath3()"> 
        <img src="/assets/images/wrong.JPG" id="sin04" style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sirimath4()"> 
        <img id ="sine03" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        <img id ="sine04" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        
        <input type="checkbox" hidden name="fruit" id="mark2"/>
        <input type="checkbox" hidden name="fruit" id="unmark2"/> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6  col-lg-6">
        <img src="/assets/images/sirimath-5.png" id="image1" style="max-width:50%; border: 2px solid black; border-radius: 20px;margin-right:5px; margin-left:10px;" >
        <img src="/assets/images/correct.JPG" id="sin09"  style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sirimath9()"> 
        <img src="/assets/images/wrong.JPG" id="sin010"  style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sirimath10()"> 
        <img id ="sine09" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        <img id ="sine010" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        
        <input type="checkbox" hidden name="fruit" id="mark3"/>
        <input type="checkbox" hidden name="fruit" id="unmark3"/>
      </div>


      <div class="col-sm-6 col-xs-6  col-lg-6">
        <img src="/assets/images/sirimath-4.png" id="image1" style="max-width:50%; border: 2px solid black; border-radius: 20px;margin-right:5px;" >
        <img src="/assets/images/correct.JPG" id="sin07" style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sirimath7()"> 
        <img src="/assets/images/wrong.JPG" id="sin08" style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sirimath8()"> 
        <img id ="sine07" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        <img id ="sine08" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
        
        <input type="checkbox" hidden name="fruit" id="mark4"/>
        <input type="checkbox" hidden name="fruit" id="unmark4"/>
      </div>
    </div>
 
    
  <app-emotiondetector></app-emotiondetector>  
  <div hidden id="clickarray"></div>
  <br>
  <br>
  <div class="row">
    <div class=col-6>
      <img id ="arrow1" class="arrow" style="display: none;" src ="/assets/images/arrow_right.gif">
    </div>
    <div class=col-6>
      <button id="submit" class="button2" style="display: none;" (click)="markstot_poemg2l2()">ඉවරයි</button> 
    </div>
  </div>
  
  <div id="myModal" class="modal">
  
    <div class="modal-content">
      <div class="row">
        <div class="col-12">
          <h1 class ="coin-heading">Completed!!!</h1>
        </div>
      </div>
      <div class="row coins-row">
        <div class="col-6 coin_img1">
          <img id="coin1" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
        </div>
        <div class="col-6 coin_img2">
          <img id="coin2" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
        </div>
      </div>
  
      <div class="row">
        <div class="col-12" class="perf-time1">
          <h5 class="perf-time2">ගත වූ කාලය : <span id="perf-time"></span></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="grade2/sinhala/level2" class="button3">ආපසු</a>
        </div>
      </div>
      </div>								    	
  </div>
  

<!-- <div class="row" style ="margin-top:30px;color:green;">
  <div class="col-sm-3 col-md-4 col-lg-4">
    <table style="margin-left:40px;">
      <tr>
        <td id="cell-1" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew1" src="assets/images/reward1.png">
        </td>
        
      </tr>
      </table>
  </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
     
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <table style="margin-left:40px;">
      <tr>
        <td id="cell-2" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew2" src="assets/images/reward2.png"></td>
      </tr>
      </table>
  </div>

</div> -->



<!-- 
<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >Next</button> 
    </div>
    <br>
  </div>  -->

</div>