<body class="back-image">

    <!--page 01 -->
<div id="page1-count_intro">
    <br>
    <br>
    <br>
    <a href="/grade1/maths/level1/counting" style ='margin-top:70px;margin-left:70px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_count_intro('page2-count_intro')"> Next &raquo;</a>
        
        <h5 style =  "margin-left:440px;" ><B>රූපයට ගැළපෙන ඉලක්කම තොරමු.</B></h5>

           
<form name="f1" >
        <img src ="/assets/images/pic5.JPG" style="width:300px;height:200px;margin-left:50px;margin-right:150px;border-style: solid;">
        <img src ="/assets/images/pic2.JPG" style="width:330px;height:200px;margin-right:150px;border-style: solid;">
        <img src ="/assets/images/pic4.JPG" style="width:270px;height:200px;border-style: solid;">

    <div id="box1" style="position:absolute; top:420px; left:130px; width:240px; height:140px; border:transparent">
        <img  name="clipa" id="lkid1a" src="/assets/images/q5.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;"onclick="testcounts1game2();" hspace=10 >
        <img name="clipb" id="lkid2a" src="/assets/images/q3.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game();">
        <input type="checkbox"  hidden name="fruit" id="mark1"/>
        <input type="checkbox"  hidden name="fruit" id="unmark1"/>
    </div>

    <div id="box5" style="position:absolute; top:420px; left:600px; width:240px; height:140px;border:transparent " >
        <img  name="clipc" id="tree1a" src="/assets/images/q2.JPG"  style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game3();">
        <img  name="clipd" id="tree2a" src="/assets/images/q5.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game4();" hspace=10>
        <input type="checkbox"  hidden name="fruit" id="mark2"/>
        <input type="checkbox"  hidden name="fruit" id="unmark2"/>
    </div>


    <div id="box9" style="position:absolute; top:420px;left:1060px;width:440px;height:140px;border:transparent" >
        <img name="clipe" id="pen1a" src="/assets/images/q3.JPG"  style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game5();" hspace=10; vspace=9>
        <img name="clipf" id="pen2a" src="/assets/images/q4.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game6();" vspace=9>
        <input type="checkbox"  hidden name="fruit" id="mark3"/>
        <input type="checkbox"  hidden name="fruit" id="unmark3"/>
    </div>


    <div id="box11" style="position:absolute; top:250px; left:320px; width:200px; height:180px" >
        <img name="clip7" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box3" style="position:absolute; top:250px; left:800px; width:200px; height:180px" >
        <img name="clip8" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box4" style="position:absolute; top:250px; left:1250px;width:200px; height:180px" >
        <img name="clip9"style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div> 

    <div id="box13" style="position:absolute; top:580px; left:145px; width:150px; height:50px" >
   <input type="text" name="txt1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>

    <div id="box14" style="position:absolute; top:580px; left:600px;width:150px; height:50px" >
        <input type="text" name="txt2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>

    <div id="box17" style="position:absolute; top:580px; left:1075px;width:150px;height:50px" >
        <input type="text" name="txt3" value=""  readonly="true" style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div> 
        
</form>

</div>

              
<div id="page2-count_intro" style="display:none;position:absolute;top:60px;left:150px">   
    <br>  
    <br>   
    <a  style ="margin-top:70px;margin-left:-30px;color:green;height:50px" class="previous button1" onclick="showpages_count_intro('page1-count_intro')">&laquo; Previous</a>
     
    <h5><B>රූපයට ගැළපෙන ඉලක්කම තොරමු.</B></h5>
   
     <br>
                   
    <form name="f2" >
    <img src ="/assets/images/pic1.JPG" style="width:300px;height:200px;margin-left:150px;margin-right:150px;border-style: solid;">
    <img src ="/assets/images/pic3.JPG" style="width:330px;height:200px;margin-right:250px;border-style: solid;">
   
    <div id="box1" style="position:absolute; top:350px; left:230px; width:240px; height:140px; border:transparent">
        <img  name="clipa" id="lkid1ab" src="/assets/images/q1.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;"onclick="testcounts1game8();" hspace=10 >
        <img name="clipb" id="lkid2ab" src="/assets/images/q2.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game7();">
        <input type="checkbox"  hidden name="fruit" id="mark4"/>
        <input type="checkbox"  hidden name="fruit" id="unmark4"/>
    </div>

    <div id="box5" style="position:absolute; top:350px; left:700px; width:240px; height:140px;border:transparent " >
        <img  name="clipc" id="tree1ab" src="/assets/images/q3.JPG"  style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game9();">
        <img  name="clipd" id="tree2ab" src="/assets/images/q5.JPG" style="height:80px;width:80px;border:solid;border-radius:150px ;" onclick="testcounts1game10();" hspace=10>
        <input type="checkbox"  hidden name="fruit" id="mark5"/>
        <input type="checkbox"  hidden name="fruit" id="unmark5"/>
    </div>


    <div id="box11" style="position:absolute; top:0px; left:0px; width:200px; height:180px" >
        <img name="clip71" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box3" style="position:absolute; top:400px; left:900px; width:200px; height:180px" >
        <img name="clip81" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>

    <div id="box13" style="position:absolute; top:480px; left:200px; width:150px; height:50px" >
        <input type="text" name="txt1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
    </div>
 
     <div id="box14" style="position:absolute; top:480px; left:700px;width:150px; height:50px" >
         <input type="text" name="txt2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
     </div>
  
</form>

</div>
            

                
                            
            
            









