@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.image{
    height:43em; 
    background-size:cover; 
    width:100%;
	background-image:url(/assets/images/login_back2.jpg);
    background-position:50% 50%;
    margin-top:-60px;
  }

body{
    padding-top:4.2rem;
    padding-bottom:4.2rem;
	/* background:rgba(0, 0, 0, 0.76); */
    }
    a{
     text-decoration:none !important;
     }
     h1{
		font-family: Holtwood One SC, serif;
		font-size: xx-large;
		color : rgb(114, 116, 184)
	 }
	 
	 h2,h3{
		font-family: Holtwood One SC, serif;
	 }

      .myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid rgba(29, 62, 207, 0.397);
    border-radius: 1.1rem;
    outline: 0;
	max-width: 500px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	
     }
     .tx-tfm{
     text-transform:uppercase;
     }
     .mybtn{
	 border-radius:50px;
	 background-color: rgb(207, 141, 141);
	 border: 3px solid rgb(173, 105, 105);
	 font-weight: 600;
     }
    
     .login-or {
     position: relative;
     color: #aaa;
     margin-top: 10px;
     margin-bottom: 10px;
     padding-top: 10px;
     padding-bottom: 10px;
     }
     .span-or {
     display: block;
     position: absolute;
     left: 50%;
     top: -2px;
     margin-left: -25px;
     background-color: #fff;
     width: 50px;
     text-align: center;
     }
     .hr-or {
     height: 1px;
     margin-top: 0px !important;
     margin-bottom: 0px !important;
     }
     .google {
     color:#666;
     width:100%;
     height:40px;
     text-align:center;
     outline:none;
     border: 1px solid lightgrey;
     }
      form .error {
     color: #ff0000;
     }
     #second{display:none;}
     label {
      display: block;
    }
    
     .form-control.ng-invalid:focus {
      
      border-color: rgb(255, 57, 57);
      border-width: 3px;
      border-radius: 10px;
    }