<body class="back-image">
  <h1 style="margin-top:35px; margin-left:450px; margin-bottom: 50px;color:black">නිවරැදි රුපය තොරමු</h1>
<!-- page 01 -->
  <div class = "center" id="Page1" data-value="0"> 
    <a href="/grade1/maths/level1/volume" style ='margin-top:-520px;margin-left:-1000px;color:green;height:50px;width:200px' class="previous button1">&laquo; Previous</a>
  </div>

<form name="f1" >
<div id="box1" style="position:absolute; top:220px; left:330px; width:240px; height:140px; border:transparent">
<h6><B>ලොකු රුපය තොරමු</B></h6>
<img style="button" name="clipa"  src="/assets/images/lkid2.jpg" style="height:120px;width:80px"onClick="test2();"hspace=10 >
<img style="button" name="clipb" src="/assets/images/lkid1.jpg" style="height:60px;width:40px"onClick="test();">
</div>

<div id="box2" style="position:absolute; top:340px; left:335px; width:400px; height:80px">
<img name="clip1" src="/assets/images/blank.png">
<img name="clip2" src="/assets/images/blank.png" hspace=100>
</div>

<div id="box5" style="position:absolute; top:220px; left:575px; width:240px; height:140px;border:transparent " >
<h6><b>මිටි රුපය තොරමු</b></h6>
<img style="button" name="clipc" src="/assets/images/tree1.png"  style="height:60px;width:40px" onClick="test3();">
<img style="button" name="clipd" src="/assets/images/tree2.png" style="height:120px;width:80px" onClick="test4();" hspace=10>
</div>

<div id="box6" style="position:absolute; top:340px; left:580px;width:400px; height:80px" >
<img name="clip3" src="/assets/images/blank.png">
<img name="clip4" src="/assets/images/blank.png" hspace=95>
</div>


<div id="box9" style="position:absolute; top:220px;left:820px;width:440px;height:140px;border:transparent" >
<h6><b>දිග රුපය තොරමු</b></h6>
<img style="button" name="clipe" src="/assets/images/pen1.jpg"  style="height:50px;width:220px"onClick="test5();" hspace=10; vspace=9>
<img style="button" name="clipf" src="/assets/images/pen2.jpg" style="height:40px;width:340px" onClick="test6();" vspace=9>
</div>

<div id="box10" style="position:absolute;top:340px;left:820px;width:400px;height:80px" >
<img name="clip5" src="/assets/images/blank.png" hspace=10>
<img name="clip6" src="/assets/images/blank.png" hspace=90>
</div>

<div id="box11" style="position:absolute; top:450px; left:290px; width:200px; height:180px" >
<img name="clip7" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
</div>

<div id="box3" style="position:absolute; top:450px; left:550px; width:200px; height:180px" >
<img name="clip8" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
</div>

<div id="box4" style="position:absolute; top:450px; left:800px;width:200px; height:180px" >
<img name="clip9"style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
</div>

<div id="box13" style="position:absolute; top:380px; left:360px; width:150px; height:50px" >
<input type="text" name="txt1" value="" align="center" readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
</div>

<div id="box14" style="position:absolute; top:380px; left:600px;width:150px; height:50px" >
<input type="text" name="txt2" value="" align="center" readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
</div>

<div id="box17" style="position:absolute; top:380px; left:850px;width:150px;height:50px" >
<input type="text" name="txt3" value="" align="center" readonly="true" style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border:transparent">
</div>

<!-- 
<form name="f2" action="index2.html">
<div id="box15" style="position:absolute; top:400px; left:160px;width:200px; height:35px" >
<input type="submit" name="but1" value="නැවතත්" 
style=" width:100px; height:35px; color:blue; font-size:20" >

</div>
</form>
<form name="f3" action="index.html">
<div id="box16" style="position:absolute; top:400px; left:50px; width:100px; height:35px" >
<input type="submit" name="but2" value="ආපසු"style=" width:100px; height:35px; color:blue; font-size:20" >
</div>
</form>
<form name="f4" action="index2.html">
<div id="box16" style="position:absolute; top:400px; left:270px;width:100px; height:35px    " >
<input type="submit" name="but3" value="ඉදිරියට" 
style=" width:100px; height:35px;color:blue; font-size:20" >
</div>
</form> -->



