<html>
    <body style="height:40em; 
    background-size:cover; 
    width:100%;
    background-image:url(/assets/images/baba1.jpg);
    background-position:50% 50%;
    margin-top:-50px;">
    <form name="f1" >
    <h2></h2>
  
    <div id="box" style="position:absolute; top:200px;left:100px; height:100px;width:100px; border:transparent;" onMouseOver="ov()" onMouseOut="out()">
    <img style="width:150px;height:150px;"src="/assets/images/click.gif"  onclick="test1()" >
    </div>
    
    <div style="position:absolute; top:100px;left:300px; height:500px;width:1050px; border:transparent;">
    
    <img name="clip1" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20>
    <img name="clip2" style="width:110px;height:110px;"src="/assets/images//blank.png" hspace=20 > 
    <img name="clip3" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip4" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20>
    <img name="clip5"style="width:110px;height:110px;" src="/assets/images/blank.png" hspace=20>  
    <br>
    
    <img name="clip6" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip7" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip8" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip9" style="width:110px;height:110px;"src="/assets/images/blank.png" hspace=20> 
    <input type="text" name="t1" value=2 readonly="true"
    style="position:absolute;top:120px; left:750px; height:130px;width:100px; color:black; font-size:140px; border-width:4px; background-color: aliceblue;">
    
    
    </div>
    <div style="position:absolute; top:450px;left:1000px">
    <input style='border-radius: 5px;font-size:25px;background-color:#3489eb;padding:10px ;color: white;'type="button" id="but" value="හරි වැරදි බලමු"  onclick="test2()">
    <input style='border-radius: 5px;font-size:25px;background-color: limegreen;padding:10px;color: white'type="button" id="but" value="වෙනත්"  onclick="test3()">
    </div>
    <div style="position:absolute; top:340px;left:500px;">
    <img name="clip11" src="/assets/images/blank.png"></div>
    
    <input type="text" name="t2" value=0 style="visibility:hidden">
    
    <div style="position:absolute; top:320px;left:80px;">
    <img name="clip10" src="/assets/images/blank.png" ></div>
    </form>
    <div style="position:absolute; top:55px; left:40px">

    
        <button class="button"style="margin-top:480px;background-color:white;font-size:20px;border-radius:5px;"><a routerLink='/grade1/maths/level1/'><span>←ආපසු </span></a></button>

 
    
 
