
<html>
    <head>
    </head> 
    <body style="background-size:cover; 
    width:100%;
    background-image:url(/assets/images/baba1.jpg);
    background-position:50% 50%;
    margin-top:-50px;">
    
    <form name="f1" >
    <h2></h2>
    <!-- #clicking box -->
    <div id="box" style="position:absolute; top:200;left:100; height:100;width:100; border:transparent;" onMouseOver="ov()" onMouseOut="out()">
    <img style="width:150px;height:150px;"src="/assets/images/click.gif"  onclick="test1()" >
    </div>
    
    <div style="position:absolute; top:100;left:300; height:500;width:1050; border:transparent;">
    
    <img name="clip1" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20>
    <img name="clip2" style="width:150px;height:150px;"src="/assets/images//blank.png" hspace=20 > 
    <img name="clip3" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip4" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20>
    <img name="clip5"style="width:150px;height:150px;" src="/assets/images/blank.png" hspace=20>  
    <br>
    
    <img name="clip6" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip7" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip8" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20> 
    <img name="clip9" style="width:150px;height:150px;"src="/assets/images/blank.png" hspace=20> 
    <input type="text" name="t1" value=2 readonly="true"
    style="position:absolute;top:120; left:1060; height:100; 
    width:100; color:blue; font-size:100; border-width:0; background:transparent">
    
    
    </div>
    <div style="position:absolute; top:450;left:1050">
    <input type="button" id="but" value="හරි වැරදි"  onclick="test2()">
    <input type="button" id="but" value="වෙනත්"  onclick="test3()">    
    </div>
    <div style="position:absolute; top:340;left:500;">
    <img name="clip11" src="/assets/images/blank.png"></div>
    
    <input type="text" name="t2" value=0 style="visibility:hidden">
    
    <div style="position:absolute; top:310;left:80;">
    <img name="clip10" src="/assets/images/blank.png" ></div>
    </form>
    <div style="position:absolute; top:55; left:40">
    
    
 
