
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
			<section id="banner" data-video="images/banner">
				<div class="inner">

					<div id = "startdiv" style ="z-index: 3; background-color:rgba(236, 236, 208, 0.95); border-style:solid; border-color:rgb(146, 146, 89); border-radius: 10px;  width:100%;min-width: 50px; min-height:550px; position: absolute">
						<button id="startbtn" class="button4" onclick = "startgame_sinhala()"><b>ආරම්භ කරන්න</b></button>
						<img id="start-img" src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top:-200px;width:100%;min-width: 40px; max-width:1000px;height:auto">
					   </div>

					<div class="row"> 
						 <div class="col-sm-3 col-md-3 col-lg-3">	
							<img class="question-audio" onclick="audio_sinhala_wordselect()" src = "/assets/images/shape_sound2.gif" id="question-wordselect">
							<audio id="quest_audio_word-select" src="assets/audio/sinhala_wordselect.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
						</div> 
						<div class="col-sm-6 col-md-6 col-lg-6">	
							<h1>රූපයට ගැලපෙන වචනය තෝරමු</h1>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">	
							<div class="timer" id="time-back">
								<div class="timer-text" id="display">
								  00:00:00
							  </div>
						
							  <div class="buttons" >
								  <button hidden id="startStop" onclick="startStop()">Start</button> 
								  <button hidden id="reset" onclick="reset()">Reset</button>
							  </div>
						
						
						 </div>
						</div>
					</div>
					
					<div class="container">

						<div class="row">
							<div class="col-sm-8 col-md-8 col-lg-8">
						<div class="row">
						  <div class="col-3">
							<img src="assets/images/car.png" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 45px; max-width:100px; height: auto;">
						  </div>
						  <div class="col-3">
							<img id ="one-r1" src="assets/images/car-text.png" onclick="sentences1()" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;">
						</div>
						  <div class="col-3">
							<img id ="one-r2" src="assets/images/bus-text.png" onclick="sentences2()" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px;max-width:150px; height: auto;">
						  </div>
						  <div class="col-3">
							<img id ="one-r3" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
						  </div>
						  <input type="checkbox" hidden name="fruit" id="mark1"/>
						  <input type="checkbox" hidden name="fruit" id="unmark1"/>
						</div>
<br>
						<div class="row">
							<div class="col-3">
							  <img src="assets/images/scissor.png" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 45px; max-width:100px; height: auto;">
							</div>
							<div class="col-3" >
								<img id ="two-r1" src="assets/images/key-text.png" onclick="sentences3()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">
							</div>
							<div class="col-3" >
								<img id ="two-r2" src="assets/images/sci-text.png" onclick="sentences4()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">
							</div>
							<div class="col-3">
								<img id ="two-r3" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
							  </div>
							  <input type="checkbox" hidden name="fruit" id="mark2"/>
							  <input type="checkbox" hidden name="fruit" id="unmark2"/>
						  </div>
<br>
						  <div class="row">
							<div class="col-3">
							  <img src="assets/images/frock.png" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 45px; max-width:100px; height: auto;">
							</div>
							<div class="col-3">
								<img id ="three-r1" src="assets/images/circle-text.png" onclick="sentences5()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px;height: auto;">
							</div>
							<div class="col-3">
								<img id ="three-r2" src="assets/images/frock-text.png" onclick="sentences6()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px;height: auto;">
							</div>
							<div class="col-3">
								<img id ="three-r3"  src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
							  </div>
							  <input type="checkbox" hidden name="fruit" id="mark3"/>
							  <input type="checkbox" hidden name="fruit" id="unmark3"/>
						  </div>
<br>
							<div class="row">
								<div class="col-3">
								<img src="assets/images/home.png" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 45px; max-width:100px; height: auto;">
								</div>
								<div class="col-3">
									<img id ="four-r1" src="assets/images/house-text.png" onclick="sentences7()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">								
								</div>
								<div class="col-3">
									<img id ="four-r2" src="assets/images/paddy-text.png" onclick="sentences8()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">								
								</div>
								<div class="col-3">
									<img id ="four-r3" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
								  </div>
								  <input type="checkbox" hidden name="fruit" id="mark4"/>
								  <input type="checkbox" hidden name="fruit" id="unmark4"/>
							</div>
							<app-emotiondetector></app-emotiondetector>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4">
								<table>
								<tr>
									<td id="cell-1" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew1" src="assets/images/reward1.png">
									</td>
									<td id="cell-2" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew2" src="assets/images/reward2.png">
										</td>
								  </tr>
								  <tr>
									<td id="cell-3" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew3" src="assets/images/reward3.png">
									</td>
									<td  id="cell-4" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew4" src="assets/images/reward4.png">
									</td>
								  </tr>
								</table>
								<div class="row">
								<div class=col-6>
									<img id ="arrow1" class="arrow" style="display: none;" src ="/assets/images/arrow_right.gif">
								</div>
								<div class=col-6>
									<button id="submit" class="button2" style="display: none;" (click)="markstot()">ඉවරයි</button> 
								</div>
							</div>
								<div hidden id="clickarray"></div>
								<div id="myModal" class="modal">

									<div class="modal-content">
										<div class="row">
											<div class="col-12">
												<h1 style="font-family:Chalkduster, fantasy;color:darkcyan; margin:auto">Completed!!!</h1>
											</div>
										</div>
										<div class="row coins-row">
											<div class="col-3 coin_img1">
												<img id="coin1" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img2">
												<img id="coin2" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img3">
												<img id="coin3" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img4">
												<img id="coin4" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
										</div>
										<!-- <div class="row">
											<div class="col-12 sad-coin-row">
												<img id ="sad_coin" src="/assets/images/sad.gif" class="sad-coin1" style = "visibility:hidden;">
											</div>
										</div> -->
										<div class="row">
											<div class="col-12" class="perf-time1">
												<h5 class="perf-time2">ගත වූ කාලය : <span id="perf-time"></span></h5>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<a href="grade1/sinhala/level1" class="button3">ආපසු</a>
											</div>
										</div>
										</div>								    	
												 
									</div>
								
							</div>
							</div>

					  </div>

				</div>

				
			</section>
			


		
	

	</body>
</html>