<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Sinhala</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body style="background-size:cover;background-image:url(/assets/images/1478.jpg);">
    <ul class="breadcrumb">
      <li><a routerLink='/dashboard'>2 ශ්‍රේණිය</a></li>
  <li><a>පරිසරය</a></li>
  <li><a style="background-color: #46360d; color:blanchedalmond; border-radius:10px " routerLink='/grade2/environment'>පියවර තෝරමු</a></li>
    </ul> 
    <!-- <a href="/grade2" style ='margin-top:20px;margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a> -->
    <div class="container" style="height:100%">

      <div class="row" style="margin-top:50px;">
        <div class ="col-sm-3 col-xs-3  col-lg-3">

        </div>
        <div class ="col-sm-3 col-xs-3  col-lg-3">
          <div class="card hoverable bg-success" style="margin-bottom:30px;" >
          
            <div *ngIf ="btn1 !== 5 "class="card hoverable bg-success" >
            <div class="card-body">

              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">පහසු</h3>    
              <!-- Card Image -->
              <img src="assets/images/level-easy.png" style="max-width:50%;">
              <button class="button1"><a routerLink='/grade2/environment/level1' style="color: green;"><span>PLAY <img src="assets/images/play.gif" style="width:30px;height:30px"></span></a></button>  
              
            </div>
            </div>
            <div *ngIf = "btn1 == 5" class="card hoverable" style="background-color: #7b8a7b;">
              <div class="card-body">

                <!-- Title -->
                <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">පහසු</h3>    
                <!-- Card Image -->
                <img src="assets/images/level-easy.png" style="max-width:50%;">
                <button class="button1"><a style="color: green;"><span>COMPLETED<img src = "/assets/images/completed.png" style="max-width: 30px;"> </span></a></button>  
                
              </div>
            </div>

          </div>
        </div>
        <div class ="col-sm-3 col-xs-3  col-lg-3">
          <div *ngIf="btn1 !== 5" class="card hoverable" style="background-color: #7b8a7b;">
            <div class="card-body">

              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">අසීරු</h3>
              <!-- Card Image -->
              <img src="assets/images/level-difficult.png" style="max-width:50%;margin-right:20px">
                          
              <button class="button1"><a style="color: green;"><span>PLAY <img src="assets/images/play.gif" style="width:30px;height:30px"></span></a></button>              
            </div>

          </div>
         <div *ngIf="btn1 == 5 && btn2 !== 5" class="card hoverable bg-success">
                  
            <div class="card-body">

              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">අසීරු</h3>
              <!-- Card Image -->
              <img src="assets/images/level-difficult.png" style="max-width:50%;margin-right:20px">
                          
              <button class="button1"><a routerLink='/grade2/environment/level2' style="color: green;"><span>PLAY <img src="assets/images/play.gif" style="width:30px;height:30px"></span></a></button>              
            </div>

          </div>

          <div *ngIf = "btn1 == 5 && btn2 == 5" class="card hoverable" style="background-color: #7b8a7b;">

            <div class="card-body">

              <!-- Title -->
              <h3 class="text-center font-weight-bold mb-5" style ="font-family:Pangolin, cursive; color:rgb(255, 255, 255)">අසීරු</h3>
              <!-- Card Image -->
              <img src="assets/images/level-difficult.png" style="max-width:50%;margin-right:20px">
                          
              <button class="button1"><a style="color: green;"><span>COMPLETED<img src = "/assets/images/completed.png" style="max-width: 30px;"> </span></a></button>              
            </div>
          </div>
        </div>
        <div class ="col-sm-3 col-xs-3  col-lg-3">
        </div>
      </div>


    </div>

</body>