<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</head>
<body style="background-size:cover;background-image:url(/assets/images/bool1.jpg);">
  <app-emotiondetector></app-emotiondetector> 
<div class="container" class="image" style="height:100% ;width:100%;">
  <div id = "startdiv">
    <button id="startbtn" class="button4" onclick = "startgame_sinhala()"><b>ආරම්භ කරන්න</b></button>
    <img id="start-img" src = "/assets/images/start_button.png" >
  </div>
  <br>

<!-- row 1 -->
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <!-- <a href="/grade1/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a> -->
      </div>

     

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <img src = "/assets/images/sound_audio3.gif" id="audio_img" class="question-audio" onclick="sentences_play()" style="height:60px;">
                        <audio id="sentences_G1_L1_audio" src="assets/audio/sinhala/G1L1WordSelection1.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px; text-align:center; "><b>රූපයට ගැලපෙන වගන්තිය තෝරන්න</b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
            </div>
            <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
            </div>
        </div>
      
      </div>
</div>

<!-- row 2 -->
  
  <div class="row" >
    <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
  </div>
     
<div class="row">
  <div class=" col-sm-2 col-xs-2  col-lg-2">
  </div>
      <div class=" col-sm-8 col-xs-8  col-lg-8">
        <div class ="row">
          <div class="col-3">
            <img src="/assets/images/running-gif.gif" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height:auto;">
          </div>
          
          <div class="col-3">
            <img name="brown" src="/assets/images/child_running.PNG" id="s1"  style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test1_sinhala1()"> 
          </div>
          <div class="col-3">
            <img name="red" src="/assets/images/child_crying.PNG"  id="s2" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test2_sinhala1()">
          </div>
          <div class="col-3">
            <div class="row">
              <div class="col-6">
                <td id="cell-1" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew1" src="assets/images/reward1.png">
              </div>
              <div class="col-6">
                <img id ="s3" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
              <img id ="s4" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
              </div>
            </div>
          </div>
         
          <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
            <br>
            <br>
        </div>

        <div class="row" style="margin-top:20px">
              <div class="col-3">
                <img src="/assets/images/mother-cooking-gif.gif" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;">
              </div>
             
              <div class="col-3">
                <img name="rect" src="/assets/images/mother-cooking.PNG"  id="s5" class="imagex" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test3_sinhala1()">
              </div>
              <div class="col-3">
                <img name="sqr" src="/assets/images/mother-scolding.PNG"  id="s6" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test4_sinhala1()">
              </div>
              <div class="col-3">
              <div class="row">
                  <div class="col-6">
                    <td id="cell-2" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew2" src="assets/images/reward2.png">
                  </div>
                  <div class="col-6">
                    <img id ="s7" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
              <img id ="s8" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
                  </div>
                </div>
            </div>
            <input type="checkbox"  hidden name="fruit" id="mark2"/>
            <input type="checkbox"  hidden name="fruit" id="unmark2"/>
            <br>
          </div>
       
         <div class="row" style="margin-top:20px">
          <div class="col-3">
            <img src="/assets/images/moon-gif.gif" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;">
           </div>
          
           <div class="col-3">
           <img name="leaf1" src="/assets/images/sun.PNG" id="s9"  style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test5_sinhala1()">
           </div>
           <div class="col-3">
           <img name="leaf2" src="/assets/images/moon.PNG" id="s10" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px; max-width:150px;height: auto;" onclick="test6_sinhala1()">
            </div>
            <div class="col-3">
            <div class="row">
              <div class="col-6">
                <td id="cell-3" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew3" src="assets/images/reward3.png">
              </div>
              <div class="col-6">
                <img id ="s11" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
                <img id ="s12" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
              </div>
            </div>
            </div>
            <input type="checkbox"  hidden name="fruit" id="mark3"/>
            <input type="checkbox"  hidden name="fruit" id="unmark3"/>
          </div>
      
     </div>
    
    </div>

    <div hidden id="clickarray"></div>
    <br>
    <br>
    <div class="row">
      <div class=col-6>
        <img id ="arrow1" class="arrow" style="display: none;" src ="/assets/images/arrow_right.gif">
      </div>
      <div class=col-6>
        <button id="submit" class="button2" style="display: none;" (click)="markstot_senten()">ඉවරයි</button> 
      </div>
    </div>
    
    <div id="myModal" class="modal">
    
      <div class="modal-content">
        <div class="row">
          <div class="col-12">
            <h1 class ="coin-heading">Completed!!!</h1>
          </div>
        </div>
        <div class="row coins-row">
          <div class="col-4 coin_img1">
            <img id="coin1" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
          </div>
          <div class="col-4 coin_img2">
            <img id="coin2" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
          </div>
          <div class="col-4 coin_img3">
            <img id="coin3" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
          </div>
    
        </div>
    
        <div class="row">
          <div class="col-12" class="perf-time1">
            <h5 class="perf-time2">ගත වූ කාලය : <span id="perf-time"></span></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="grade1/sinhala/level1" class="button3">ආපසු</a>
          </div>
        </div>
        </div>								    	
             
      </div>
    
    </div>

<!-- 
<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >Next</button> 
    </div>
    <br>
  </div>  -->
        
  
 









