
<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
			<section id="banner" data-video="images/banner">
				<div class="inner">

					<div id = "startdiv" style ="z-index: 3; background-color:rgba(236, 236, 208, 0.95); border-style:solid; border-color:rgb(146, 146, 89); border-radius: 10px;  width:100%;min-width: 50px; min-height:550px; position: absolute">
						<button id="startbtn" class="button4" onclick = "startgame_sinhala()"><b>ආරම්භ කරන්න</b></button>
						<img id="start-img" src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top:-200px;width:100%;min-width: 40px; max-width:1000px;height:auto">
					</div>

					<div class="row" style="margin-top: 10px;"> 
						<div class="col-sm-3 col-md-3 col-lg-3">	
							<img class="question-audio" onclick="audio_sinhala_wordselect()" src = "/assets/images/shape_sound2.gif" id="question-wordselect">
							<audio id="quest_audio_word-select" src="assets/audio/sinhala/G2L2Riddles1.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>
						</div> 
						<div class="col-sm-6 col-md-6 col-lg-6">	
							<h1 style="text-shadow: 2px 2px #000000;">තේරවිලි තෝරමු</h1>
						</div>
						<div class="col-sm-3 col-md-3 col-lg-3">	
							<div class="timer" id="time-back">
								<div class="timer-text" id="display">
								  00:00:00
							  	</div>
						
							  	<div class="buttons" >
								  <button hidden id="startStop" onclick="startStop()">Start</button> 
								  <button hidden id="reset" onclick="reset()">Reset</button>
							  </div>
						 	</div>
						</div>
					</div>
					
					<div class="container">

						<div class="row">
							<div class="col-sm-8 col-md-8 col-lg-8">
						<div class="row riddle-row1">
						  <div class="col-5">
                            <h2 class="riddle">අලියා නොයන මග</h2>
						  </div>
						  <div class="col-3">
                            <div class="answer-box" id ="one-r1" onclick="sentences1()">
                                <h2 class="answer-text">ඉණිමග</h2>
                            </div>
						</div>
						  <div class="col-3">
                            <!-- <img id ="one-r2" src="assets/images/monkey-text.png" onclick="sentences2()" style="border: 2px solid black; border-radius: 10px; width: 100%; min-width: 60px;max-width:150px; height: auto;"> -->
                            <div class="answer-box" id ="one-r2" onclick="sentences2()">
                                <h2 class="answer-text">කතරගම</h2>
                            </div>
						  </div>
						  <div class="col-1">
							<img id ="one-r3" src="/assets/images/sbob1.png" style="display:none;  max-width: 70px; min-width:30px; height: auto; margin:auto">
						  </div>
						  <input type="checkbox" hidden name="fruit" id="mark1"/>
						  <input type="checkbox" hidden name="fruit" id="unmark1"/>
						</div>
<br>
						<div class="row riddle-row2">
							<div class="col-5">
                              <h2 class="riddle" style="display:inline">ගහක් උඩ ගෙඩියක්</h2>
                            <h2 class="riddle">ගෙඩියක් උඩ ගහක්</h2>
							</div>
							<div class="col-3" >
                                <!-- <img id ="two-r1" src="assets/images/morning-text.png" onclick="sentences3()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;"> -->
                                <div class="answer-box" id ="two-r1" onclick="sentences3()">
                                    <h2 class="answer-text">වංගෙඩිය</h2>
                                </div>
							</div>
							<div class="col-3" >
                                <!-- <img id ="two-r2" src="assets/images/mammoty-text.png" onclick="sentences4()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;"> -->
                                <div class="answer-box" id ="two-r2" onclick="sentences4()">
                                    <h2 class="answer-text">අන්නාසි</h2>
                                </div>
							</div>
							<div class="col-1">
								<img id ="two-r3" src="/assets/images/sbob1.png" style="display:none;  max-width: 70px; min-width:0px; height: auto; margin:auto">
							  </div>
							  <input type="checkbox" hidden name="fruit" id="mark2"/>
							  <input type="checkbox" hidden name="fruit" id="unmark2"/>
						  </div>
<br>
						  <div class="row riddle-row3">
							<div class="col-5">
                              <h2 class="riddle" style="display:inline">ඇදල ගත්තා - දමලා ගැහුවා</h2>
                            <h2 class="riddle">මලක් පිපුනා - මල පරවුනා </h2>
							</div>
							<div class="col-3">
                                <!-- <img id ="three-r1" src="assets/images/broom-text.png" onclick="sentences5()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px;height: auto;"> -->
                                <div class="answer-box" id ="three-r1" onclick="sentences5()">
                                    <h2 class="answer-text">පිච්ච මල</h2>
                                </div>
							</div>
							<div class="col-3">
                                <!-- <img id ="three-r2" src="assets/images/honey-bee-text.png" onclick="sentences6()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px;height: auto;"> -->
                                <div class="answer-box" id ="three-r2" onclick="sentences6()">
                                    <h2 class="answer-text">ගිණිකූර</h2>
                                </div>
                                
							</div>
							<div class="col-1">
								<img id ="three-r3"  src="/assets/images/sbob1.png" style="display:none;  max-width: 70px; min-width:30px; height: auto; margin:auto">
							  </div>
							  <input type="checkbox" hidden name="fruit" id="mark3"/>
							  <input type="checkbox" hidden name="fruit" id="unmark3"/>
						  </div>
<br>
							<div class="row riddle-row4">
								<div class="col-5">
                                <h2 class="riddle" style="display:inline;">අත්තක් උඩ බුම්මාගෙන</h2>
                                    <h2 class="riddle">කටු රෙද්දක් පොරවාගෙන</h2>
								</div>
								<div class="col-3">
                                    <!-- <img id ="four-r1" src="assets/images/kettle-text.png" onclick="sentences7()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">								 -->
                                    <div class="answer-box" id ="four-r1" onclick="sentences7()">
                                        <h2 class="answer-text">කොස්ගෙඩිය</h2>
                                    </div>
								</div>
								<div class="col-3">
                                    <!-- <img id ="four-r2" src="assets/images/bottle-text.png" onclick="sentences8()" style="border: 2px solid black; border-radius: 10px; width: 100%;  min-width: 60px; max-width:150px; height: auto;">								 -->
                                    <div class="answer-box" id ="four-r2" onclick="sentences8()">
                                        <h2 class="answer-text">බකමූණා</h2>
                                    </div>
								</div>
								<div class="col-1">
									<img id ="four-r3" src="/assets/images/sbob1.png" style="display:none; max-width: 70px; min-width:30px; height: auto; margin:auto">
								  </div>
								  <input type="checkbox" hidden name="fruit" id="mark4"/>
								  <input type="checkbox" hidden name="fruit" id="unmark4"/>
							</div>
							<app-emotiondetector></app-emotiondetector>
							</div>
							<div class="col-sm-4 col-md-4 col-lg-4">
								<table>
								<tr>
									<td id="cell-1" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew1" src="assets/images/reward1.png">
									</td>
									<td id="cell-2" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew2" src="assets/images/reward2.png">
										</td>
								  </tr>
								  <tr>
									<td id="cell-3" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew3" src="assets/images/reward3.png">
									</td>
									<td  id="cell-4" style="background-color:white; border: 1px solid black;"><img class="reward-cell" id="rew4" src="assets/images/reward4.png">
									</td>
								  </tr>
								</table>
								<div class="row">
								<div class=col-6>
									<img id ="arrow1" class="arrow" style="display: none;" src ="/assets/images/arrow_right.gif">
								</div>
								<div class=col-6>
									<button id="submit" class="button2" style="display: none;" (click)="markstot()">ඉවරයි</button> 
								</div>
							</div>
								<div hidden id="clickarray"></div>
								<div id="myModal" class="modal">

									<div class="modal-content">
										<div class="row">
											<div class="col-12">
												<h1 style="font-family:Chalkduster, fantasy;color:darkcyan; margin:auto">Completed!!!</h1>
											</div>
										</div>
										<div class="row coins-row">
											<div class="col-3 coin_img1">
												<img id="coin1" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img2">
												<img id="coin2" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img3">
												<img id="coin3" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
											<div class="col-3 coin_img4">
												<img id="coin4" src="/assets/images/win_coin_cropped.gif" style = "visibility:hidden;">
											</div>
										</div>
			
										<div class="row">
											<div class="col-12" class="perf-time1">
												<h5 class="perf-time2">ගත වූ කාලය : <span id="perf-time"></span></h5>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<a href="grade2/sinhala/level2" class="button3">ආපසු</a>
											</div>
										</div>
										</div>								    	
												 
									</div>
								
							</div>
							</div>

					  </div>

				</div>

				
			</section>
			


		
	

	</body>
</html>
