
<html>
    <head>
        <style type="text/css">
            .txt{width:70px; height:70px; color:blue; font-size:50px; text-align:center}
            #but{width:150px; height:40px; color:blue; font-size:25}
            </style>
    </head>
    <body class="back-image">
        <!-- page 01 -->
        <br>
        <h1 style =  "margin-left:440px; margin-top: 30px; margin-bottom: 20px;"><b>ඉලක්කම් ඉගෙනගමු- 2</b></h1>
                <div class = "center" id="Page1" data-value="0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe id = "myVideo_money" class="embed-responsive-item" src="https://drive.google.com/file/d/1kaPu9plUzibLgdiY1OcIDmcc6jjhZsks/preview" width="640" height="480" width="640" height="480"
                                  allowfullscreen></iframe>
                        </div>
                        <a style="margin-left:700px;" id ="playbtn_money" class="button1" onclick="return show_moneyL1('Page2','Page1');">සෙල්ලම් කරන්න</a>
                </div>

                

          <!-- page 02 -->
        <div class= "center1" style="display:none" id="Page2" data-value="1">

          <div id="time-back" style="z-index: 2; margin-top: -85px; position: absolute; margin-left: 50px; background-color: azure; border-radius: 10px; width: 250px;">
            <div id="display" style="margin-left:15px; font-size: 50px; font-family: 'Permanent Marker', cursive;">
              00:00:00
          </div>
    
          <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
          </div>
    
    
     </div>

     <div id = "startdiv" style ="z-index: 3; background-color:rgba(236, 236, 208, 0.95); border-style:solid; border-color:rgb(146, 146, 89); border-radius: 10px; height: 600px; width: 1200px; position: absolute">
      <button id="startbtn" onclick = "startgame_shape()" class="button4"><b>ආරම්භ කරන්න</b></button>
      <img src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top: -300px; margin-left: 150px">
     </div>


            <h5><B>ඇපල් ගෙඩි ගණනට ගැළපෙන ඉලක්කම තොරමු.</B></h5>
            <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -10px; margin-left: 30px;">
            <img src = "/assets/images/shape_sound2.gif" id="question-money" style="position: absolute; height: 140px; margin-top: -35px; margin-left: 100px;">
            <audio id="quest_audio_money" src="assets/audio/count-question.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
            <br>
           
<form name="f1">
    <img src ="/assets/images/ganimu1.JPG" style="width:300px;height:200px;margin-right:150px;margin-top:50px;border-style:solid ;border-radius:15px ;border-color: black;">
    <img src ="/assets/images/ganimu2.JPG" style="width:330px;height:200px;margin-right:150px;margin-top:50px;border-style:solid ;border-radius:15px;border-color: black;">
    <img src ="/assets/images/ganimu3.JPG" style="width:270px;height:200px;margin-top:50px;border-style:solid ;border-radius:15px;border-color: black;">

    <div id="box1" style="position:absolute; top:470px; left:130px; width:240px; height:140px; border:transparent">
    <img  name="clipa" id="lkid1" src="/assets/images/lkid2.JPG" style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black;"onclick="testcountsgame2();" hspace=10 >
    <img name="clipb" id="lkid2" src="/assets/images/lkid1.JPG" style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black" onclick="testcountsgame();">
    <input type="checkbox"  hidden name="fruit" id="mark1"/>
    <input type="checkbox"  hidden name="fruit" id="unmark1"/>
    </div>
    
    <div id="box2" style="position:absolute; top:590px; left:135px; width:400px; height:80px">
    <img name="clip1" src="/assets/images/blank.png">
    <img name="clip2" src="/assets/images/blank.png" hspace=100>
    </div>
    
    <div id="box5" style="position:absolute; top:470px; left:600px; width:240px; height:140px;border:transparent " >
    <img  name="clipc" id="tree1" src="/assets/images/tree1.JPG"  style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black" onclick="testcountsgame3();">
    <img  name="clipd" id="tree2" src="/assets/images/tree2.JPG" style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black" onclick="testcountsgame4();" hspace=10>
    <input type="checkbox"  hidden name="fruit" id="mark2"/>
    <input type="checkbox"  hidden name="fruit" id="unmark2"/>
    </div>
    
    <div id="box6" style="position:absolute; top:590px; left:1105px;width:400px; height:80px" >
    <img name="clip3" src="/assets/images/blank.png">
    <img name="clip4" src="/assets/images/blank.png" hspace=95>
    </div>
    
    
    <div id="box9" style="position:absolute; top:470px;left:1060px;width:440px;height:140px;border:transparent" >
    <img name="clipe" id="pen1" src="/assets/images/pen1.JPG"  style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black" onclick="testcountsgame5();" hspace=10; vspace=9>
    <img name="clipf" id="pen2" src="/assets/images/pen2.JPG" style="height:80px;width:80px;border-style:solid ;border-radius:15px ;border-color: black" onclick="testcountsgame6();" vspace=9>
    <input type="checkbox"  hidden name="fruit" id="mark3"/>
    <input type="checkbox"  hidden name="fruit" id="unmark3"/>
    </div>
    
    <div id="box10" style="position:absolute;top:540px;left:840px;width:400px;height:80px" >
    <img name="clip5" src="/assets/images/blank.png" hspace=10>
    <img name="clip6" src="/assets/images/blank.png" hspace=90>
    </div>
    
    <div id="box11" style="position:absolute; top:450px; left:320px; width:200px; height:180px" >
    <img name="clip7" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>
    
    <div id="box3" style="position:absolute; top:450px; left:800px; width:200px; height:180px" >
    <img name="clip8" style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div>
    
    <div id="box4" style="position:absolute; top:450px; left:1250px;width:200px; height:180px" >
    <img name="clip9"style="position:absolute; width:100px;height:100px" src="/assets/images/blank.png" >
    </div> 
    
    <div id="box13" style="position:absolute; top:580px; left:145px; width:150px; height:50px" >
    <input type="text" name="txt1" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border-style:bold">
    </div>
    
    <div id="box14" style="position:absolute; top:580px; left:600px;width:150px; height:50px" >
    <input type="text" name="txt2" value=""  readonly="true"style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border-style:bold">
    </div>
    
    <div id="box17" style="position:absolute; top:580px; left:1075px;width:150px;height:50px" >
    <input type="text" name="txt3" value=""  readonly="true" style= "width:190px; height:50px; text-align:center; font-weight:bold; color:blue; font-size:30px;border-style:bold">
    </div>
        
    <app-emotiondetector></app-emotiondetector>     
     <button id="submit" class="button2" style="display: none;margin-top:-300px ;margin-left:1000px ;" (click)="markstot_countingconcepts2()">ඉවරයි</button> 
     <div hidden id="clickarray"></div>
                
                            <!-- The Modal -->
                            <div id="myModal" class="modal">
                
                              <!-- Modal content -->
                              <div class="modal-content">
                              <div style="margin-left:-50px;">
                                <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                                <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                                <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                                <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                                <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                                <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
                                <a href="grade1/maths/level2" style="margin-left:430px;" class="button3">ආපසු</a>
                              </div>
                               
                              </div>
                            </div>
                
                
            
            










