
    <html>
        
    <div id="block" style="position:absolute;top:50;left:100;">
        <img name="box"  src="./image/box.gif" style="position:absolute; top:50; left:140">
        <img name="box0"  src="./image/box.gif" style="position:absolute; top:225; left:140">
        <img name="line"  src="./image/-.gif" style="position:absolute; top:300; left:30">
        <img name="line2"  src="./image/=.gif" style="position:absolute; top:400; left:30">
        <img name="+"  src="./image/+.gif" style="position:absolute; top:250; left:5">
    
        <form name="f1">
        
        <img name="p1" src="./image/bird.gif"  style="position:absolute; top:50;left:600" width="80" height="80" >
        <img name="p2" src="./image/bird.gif"  style="position:absolute; top:80; left:640" width="80" height="80" >
        <img name="p3" src="./image/bird.gif"  style="position:absolute; top:110; left:580" width="80" height="80" >
        <img name="p4" src="./image/bird.gif"  style="position:absolute; top:130; left:670" width="80" height="80">
        
        <img name="clip1" src="./image/arrow2.gif" onClick="put1 ()" style="position:absolute; top:50;left:650" width="30" height="30" >
        <img name="clip2" src="./image/arrow2.gif" onClick="put2 ()" style="position:absolute; top:80; left:690" width="30" height="30" >
        <img name="clip3" src="./image/arrow2.gif" onClick="put3 ()" style="position:absolute; top:110; left:630" width="30" height="30" >
        <img name="clip4" src="./image/arrow2.gif" onClick="put4 ()" style="position:absolute; top:130; left:720" width="30" height="30">
        
        <img name="p5" src="./image/bird.gif"  style="position:absolute; top:230; left:600"  width="80" height="80" >
        <img name="p6" src="./image/bird.gif"  style="position:absolute; top:270; left:560" width="80" height="80" >
        <img name="p7" src="./image/bird.gif"  style="position:absolute; top:300; left:640" width="80" height="80">
        <img name="p8" src="./image/bird.gif"  style="position:absolute; top:320; left:670"  width="80" height="80">
        <img name="p9" src="./image/bird.gif"  style="position:absolute; top:330; left:580"  width="80" height="80" >
        
        <img name="clip5" src="./image/arrow2.gif" onClick="put5 ()" style="position:absolute; top:230; left:650; visibility:hidden"  width="30" height="30" >
        <img name="clip6" src="./image/arrow2.gif" onClick="put6 ()" style="position:absolute; top:270; left:610; visibility:hidden" width="30" height="30" >
        <img name="clip7" src="./image/arrow2.gif" onClick="put7 ()" style="position:absolute; top:300; left:690; visibility:hidden" width="30" height="30">
        <img name="clip8" src="./image/arrow2.gif" onClick="put8 ()" style="position:absolute; top:370; left:720; visibility:hidden"  width="30" height="30">
        <img name="clip9" src="./image/arrow2.gif" onClick="put9 ()" style="position:absolute; top:370; left:630; visibility:hidden"  width="30" height="30" >
        
        <input type="text" name="t1" value=0 style="visibility:hidden">
        </form>
    
    
        <div id="box1" style="position:absolute; top:425; left:35;width:300; height:35" >
        <input type="button" name="but1" value="කුරුල්ලන් ගණන  එකතු කර  බලමු" onClick="test()"; style ="width:350; height:35; color:blue; font-size:20">
        </div>
    
        <form name="f2" action="">
        <div id="box2" style="position:absolute; top:425; left:580;width:100; height:35 " >
        <input type="submit" name="but3" value="නැවතත්" onClick="test2();" style="width:100; height:35; color:blue; font-size:20 ">
        </div>
        </form>
        
        
        
        <form name="f3">
        <div id="box3" style="position:absolute; top:350; left:35; 
        width:50; height:50 " >
        <input type="text" name="txt3" value="" readonly= "true"
        style=" width:50; height:50; text-align:center; color:red; font-size:36 ">
        </div>
        <div id="box4" style="position:absolute; top:150; left:35; 
        width:50; height:50 " >
        <input type="text" name="txt1" value="0" MaxLength="1" readonly= "true"
        style=" width:50; height:50; text-align:center; color:red; font-size:36 ">
        </div>
        <div id="box5" style="position:absolute; top:250; left:35; 
        width:50; height:50 " >
        <input type="text" name="txt2" value="0" MaxLength="1" readonly= "true"
        style=" width:50; height:50; text-align:center; color:red; font-size:36 ">
        </div>
        </form>
        
        </div>
       

    </html>
