  
<body style="background-size:cover;
background-image:url(/assets/images/sweetback.jpg);
background-position:50% 50%;
margin-top:-50px;
left: 50px;
height:40em;  
width:100%;">


<!--page 01 (weight) -->
<div id="page1-addition2">
    <!-- <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:-60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level2/length" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a> -->
   
    <a href="/grade1/maths/level2" style ='margin-top:70px;margin-left:70px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" onclick="showpages_addition2('page2-addition2')"> Next &raquo;</a>


    <div>
        <img src="/assets/images/babyduck.png">
    </div>
</div>


<!--page 02-->
<div id="page2-addition2" style="display:none;position:absolute;top:40px;left:150px;">   
    <a  style ='margin-top:70px;margin-left:-60px;color:green;height:50px;' class="previous button1" onclick="showpages_addition2('page1-addition2')">&laquo; Previous</a>
    <a href="/grade1/maths/level2/counting" style ='margin-top:70px;margin-left:900px;color:green;height:50px ;' class="previous button1" > Next &raquo;</a>
</div>

    

