
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer>
    <br>
    <div style="width: 100%;">
        COPYRIGHT © 2020 ALL RIGHTS RESERVED
    </div>
    <br>
   
    <div style="width: 100%;margin-inline-start:120px ;">
       
        <div style="float:left;width: 25%">
           
               <table>
                   <tr> <u>Research Advisors</u></tr>
                   <tr>Dr.Enosha Hettiarachchi</tr>
                   <tr>Dr.K.P.Hewagamage</tr>   
               </table> 
            </div>
        <div style="float:left; width: 25%">
                <table>
                   <tr><u>Research Members</u></tr>
                   <tr>Charini Peiris</tr>
                   <tr>Hirasha Pooliyadda</tr>
                   <tr>Dinithi Kulukulusuriya</tr>
                </table> 
        </div>  
        <div style="float:left; width: 25%">
            <table>
                    <tr><u>Email</u></tr>
                    <tr>chariniprashadini1118@gmail.com</tr>
                    <tr>ann.dinithi@gmail.com</tr>
                    <tr>hirashapooliyadda20@gmail.com</tr>
             </table>
        </div> 
        <div style="float:left; width: 25%">
            <table >
                <tr><u>Telephone</u></tr>
                <tr>0778943570</tr>
                <tr>0772629980</tr>
                <tr>0715669928</tr>
             </table>
        </div>              
        
    </div>
</footer>