<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/fun.jpg);">
   
<div class="container" class="image" style="height:100% ;width:100%;">
    <br>

<!-- row 1 -->
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <a href="/grade1/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
      </div>

     

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <img src = "/assets/images/sound_audio3.gif" style="height:60px;">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px ;"><b>කවි රස විඳිමු -1</b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
            </div>
        </div>
      
      </div>
</div>

<!-- row 2 -->
  
  <div class="row" >
    <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
  </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6  col-lg-6">
          <div class="row">
            <h3 style ="margin-top:20px; margin-left:60px; text-align:center"><b>කවිය අසා නිවැරදි පිලිතුරු තෝරන්න</b></h3><br>
            <iframe src="https://drive.google.com/file/d/1fsy_5mfmHiVWjuiHQWIQ4VJ47hJtRumx/preview"  width="90%" height="360px" style ="margin-left:10px"></iframe>
            <br>
          </div>
          
        </div>

        <div class="col-sm-6 col-xs-6  col-lg-6">
          <div class="row">
            <h4 style="margin-left:20px;margin-top:20px;">1) මල් වල පැණි බීමට ආ සමනළයා මොන පාටද? </h4>
          </div>
          <br>

          <div class="row">
            <div class="col-4">
                <button style="margin-left:20px;border-radius:15px ;border-style: solid;border-width:5px;border-color: black;" onclick="poems1()" id="po1">
                    <img src="assets/images/red-butterfly.png" style="width:100px;height:100px;">
                    <p>රතු පාටයි</p>
                </button>
                <img id ="po3" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
                 
            </div>
            <div class="col-4">
                <button style="margin-left:10px;border-style: solid;border-radius:15px;border-width:5px;border-color: black;" onclick="poems2()" id="po2">
                    <img src="assets/images/gold-butterfly.png" style="width:100px;height:100px;">
                    <p>රන්වන් පාටයි</p>
                </button>  
                <img id ="po4" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
               
            </div>

            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </div>
        <br>
        <br>

        <div class="row">
          <h4 style="margin-left:20px;margin-top:20px;">2) සමනළයා පැණි බිව්වේ මොන මලින්ද?</h4>
        </div>
        <br>
        
        <div class="row">
          <div class="col-4">
              <button style="margin-left:20px;border-radius:15px ;border-style: solid;border-width:5px;border-color: black;" onclick="poems01()" id="po01">
                  <img src="assets/images/rose-wbg.png" style="width:100px;height:100px;">
                  <p>රෝස මලින්</p>
              </button>
              <img id ="po03" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
               
          </div>
          <div class="col-4">
              <button style="margin-left:10px;border-style: solid;border-radius:15px;border-width:5px;border-color: black;" onclick="poems02()" id="po02">
                  <img src="assets/images/hibiscus-wbg.png" style="width:100px;height:100px;">
                  <p>වද මලින්</p>
              </button>  
              <img id ="po04" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 130px; min-width:30px; height: auto; margin:auto">
             
          </div>

          <input type="checkbox" hidden name="fruit" id="mark1"/>
          <input type="checkbox" hidden name="fruit" id="unmark1"/>

        </div>

        </div>
      
</div>


</div>




<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >Next</button> 
    </div>
    <br>
  </div> 
        









