
<html>
    <head></head>
    <body class="back-image">

        <h1 style =  "margin-left:14em; margin-top: 30px; margin-bottom: 20px;"><b>හැඩතල ඉගෙනගනිමු</b></h1>
        <!-- page 01 -->
                <div class = "center" id="Page1" data-value="0"> 
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe id = "myVideo_shapes" class="embed-responsive-item" src="https://drive.google.com/file/d/1T3rOR2GD4k8gcITFrD_QFtVXK51c0gQT/preview" width="640" height="480"
                                  allowfullscreen></iframe>
                        </div>   
                        <a style="margin-left:700px;" id ="playbtn_shapes" class="button1" onclick="return show_shapesL1('Page2','Page1');">සෙල්ලම් කරන්න</a>
                </div>

          <!-- page 02 -->       
         <div class= "center1" style="display:none" id="Page2" data-value="1">


    
            <form name="f1">
            
            <h3 style ="margin-top: 20px; margin-left: 30px;">වම් පසින් ඇති හැඩතලයට සමාන හැඩය සහිත <br> රූපය දකුණු පස ඇති රූප දෙකෙන් තෝරා click කරන්න.</h3>
            <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -75px; margin-left: 600px;">
            <img src = "/assets/images/shape_sound2.gif" id="question-shapes" style="position: absolute; height:140px; margin-top: -95px; margin-left:700px">
            <audio id="quest_audio" src="assets/audio/shapesL1_quest.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                <fieldset style ="margin-left: 30px; margin-top: 30px;">
                <img src="/assets/images/triangle.png" style="border-style:solid; border-color:rgb(140, 179, 102); background:#cfebb9; border-radius: 15px; height: 100px; width: 100px; margin-left: 130px; margin-right: 350px; padding: 8px;">
                <img name="clip1" src="/assets/images/blank.jpeg" style="height:80px; width:80px;border:solid thin">
                <img name="rw1" src="/assets/images/blank.jpeg" style="height:80px; width:150px; ">
                <img name="brown" src="/assets/images/pizza.png" class="imagex" style="margin-right:30px;" onclick="test1_shapes()">
                <img name="red" src="/assets/images/clock.png" class="imagex" onclick="test2_shapes()"> 

                </fieldset>

            <br>
                <fieldset style ="margin-left: 30px; margin-top: 10px;">
                <img src="/assets/images/shape_square_1.png" style="border-style:solid; border-color:rgb(83, 107, 173); background:#acaddd; border-radius: 15px; height: 100px; width: 100px; margin-left: 130px; margin-right: 350px; padding: 15px;">
                <img name="clip2" src="/assets/images/blank.jpeg" style="height:80px; width:80px;border:solid thin">
                <img name="rw2" src="/assets/images/blank.jpeg" style="height:80px; width:150px; ">
                <img name="rect" src="/assets/images/book.png"  class="imagex" style="margin-right:30px;" onclick="test3_shapes()">
                <img name="sqr" src="/assets/images/watermelon.png"  class="imagex" onclick="test4_shapes()"> 
                </fieldset>
            <br>

                <fieldset style ="margin-left: 30px; margin-top: 10px;">
                <img src="/assets/images/circle.png" style="border-style:solid; border-color:rgb(167, 127, 69); background:#ddc4ac; border-radius: 15px; height: 100px; width: 100px; margin-left: 130px; margin-right: 350px; padding: 15px;">
                <img name="clip3" src="/assets/images/blank.jpeg" style="height:80px; width:80px;border:solid thin">
                <img name="rw3" src="/assets/images/blank.jpeg" style="height:80px; width:150px; ">
                <img name="leaf1" src="/assets/images/bag.png" class="imagex" style="margin-right:30px;" onclick="test5_shapes()">
                <img name="leaf2" src="/assets/images/ball_shapes.png" class="imagex" onclick="test6_shapes()"> 
                </fieldset>
            <br>
            
            </form>
            </div>
            <!-- <form>
            <input type="submit" value="නැවත" style="position:absolute;top:510px;left:60px;width:100px;height:35px;font-size:20;color:blue" ></form> -->
            <!-- <div id="back_box" style="position:absolute; top: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 50px;"><span style="font-weight: bold; font-size: 28pt; margin-left: 10px;">රටාවේ ඊළඟට ගැළපෙන රූපය තෝරන්න.</span></div> -->
            <!-- <div id="back_box2" style="position:absolute; bottom: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 35px; padding-top: 15px; text-align: right;"><span style="font-weight: bold; font-size: 12pt; margin-right: 10px;">ගණිතය - 1 ශ්‍රේණිය</span></div> -->
        
            <!-- <a href="#"  class="button3" onclick="return show('Page1','Page2');">ආපසු</a> -->

        
        
        
        
        
        

</body>
</html> 