
    <body class="back-image">
  
        <!-- page 01 -->
        <h1 style =  "margin-left:14em; margin-top: 30px; margin-bottom: 20px;"><b>දිග, පළල මනිමු.</b></h1>
                <div class = "center1" id="page1-lengths" >
                    <form name="f1">
                        <a class="previous button1" style ='margin-top:70px; margin-left:900px; color:green;height:50px;' onclick="return showpages_lengths('page2-lengths')"> Next &#8811; </a>
                    <h3 style ="margin-top: 20px; margin-left: 30px;">පහත රූප වලට වතුර අල්ලන ප්‍රමාණය යෝගට් කප් වලින් සොයමු</h3>
                    <h2 id="alert" style="visibility: hidden; color: red;"> සියල්ලටම පිලිතුරු සපයන්න</h2>
                    <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -75px; margin-left: 650px;">
                    <img src = "/assets/images/shape_sound2.gif" id="question-money" style="position: absolute; height: 140px; margin-top: -105px; margin-left: 750px;">
                    <audio id="quest_audio" src="assets/audio/moneyL1_quest.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                        <fieldset style ="margin-left: 30px; margin-top: 30px;">
                        <img src="/assets/images/limage1.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 200px; width: 550px; margin-left: 100px; margin-right: 50px; padding: 8px;">
                        <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:50px">
                        <img name="brown" src="/assets/images/q4.JPG" id="a5"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test1_len2()">
                        <img name="red" src="/assets/images/q5.JPG"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test2_len2()">
                        <img name="rw1" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                        <input type="checkbox" hidden name="fruit" id="mark1"/>
                        <input type="checkbox" hidden name="fruit" id="unmark1"/>
                        </fieldset>
          
                    <br>
                        <fieldset style ="margin-left: 30px; margin-top: 5px;">
                        <img src="/assets/images/limage2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 200px; width: 550px; margin-left: 100px; margin-right: 50px; padding: 15px;">
                        <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:50px">
                        <img name="rect" src="/assets/images/q5.JPG"  id="b2" class="imagex" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test3_len2()">
                        <img name="sqr" src="/assets/images/q6.JPG"  id="b5" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test4_len2()">
                        <img name="rw2" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                        <input type="checkbox"  hidden name="fruit" id="mark2"/>
                        <input type="checkbox"  hidden name="fruit" id="unmark2"/>
                    </fieldset>
                    <br>
                    <br>
          
                    </form>
                <!-- </div>
  
         <div class= "center1" style="display:none" id="page2-lengths" >
  
                <form name="f2">
      
                <h3 style ="margin-top: 20px; margin-left: 30px;">වම් පස රූපයෙ බර ගල් වලින් මනිමු.</h3>
                <h2 id="alert" style="visibility: hidden; color: red;"> සියල්ලටම පිලිතුරු සපයන්න</h2>
                <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -75px; margin-left: 650px;">
                <img src = "/assets/images/shape_sound2.gif" id="question-money" style="position: absolute; height: 140px; margin-top: -105px; margin-left: 750px;">
                <audio id="quest_audio" src="assets/audio/moneyL1_quest.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                    <fieldset style ="margin-left: 30px; margin-top: 30px;">
                    <img src="/assets/images/orange.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 200px; width: 350px; margin-left: 100px; margin-right: 50px; padding: 8px;">
                    <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:150px">
                    <img name="brown" src="/assets/images/q6.JPG" id="a59"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test5_len2()">
                    <img name="red" src="/assets/images/q7.JPG"  id="a109" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test6_len2()">
                    <img name="rw1" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                    <input type="checkbox" hidden name="fruit" id="mark3"/>
                    <input type="checkbox" hidden name="fruit" id="unmark3"/> -->
                    <!-- </fieldset>
      
                <br>
                    <fieldset style ="margin-left: 30px; margin-top: 5px;">
                    <img src="/assets/images/biscuits.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 200px; width: 350px; margin-left: 100px; margin-right: 50px; padding: 15px;">
                    <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:150px">
                    <img name="rect" src="/assets/images/q5.JPG"  id="b29" class="imagex" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test7_len2()">
                    <img name="sqr" src="/assets/images/q4.JPG"  id="b59" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test8_len2()">
                    <img name="rw2" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                    <input type="checkbox"  hidden name="fruit" id="mark4"/>
                    <input type="checkbox"  hidden name="fruit" id="unmark4"/>
                </fieldset>
                <br>
                <br>
      
                </form> -->


           <!-- <button id="submit" class="button2" style="display: none;" (click)="markstot_lengthsm()">ඉවරයි</button>  -->
  
  
            <!-- The Modal -->
            <div id="myModal" class="modal">
  
                <!-- Modal content -->
                <div class="modal-content">
                  <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                  <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                  <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                  <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                  <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
              
                  <a href="grade2/maths/level1"  class="button3">ආපසු</a>
                </div>
              </div>
                </div>
  </body>


