
    <body class="back-image">
  
        <!-- page 01 -->
        <br>
        <div id="time-back" style="z-index: 2; margin-top: 60px; position: absolute; margin-left: 1020px; background-color: azure; border-radius: 10px; width: 201px;">
            <div id="display" style="margin-left:15px; font-size: 50px; font-family: 'Permanent Marker', cursive;">
              00:00:00
          </div>
    
          <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
          </div>
     </div>

     <div id = "startdiv" style ="z-index: 3; background-color: rgba(236, 236, 208, 0.95); border-style: solid; border-color: rgb(146, 146, 89); border-radius: 10px; height: 600px; width: 1200px; position: absolute;margin-left: 70px;margin-top: 30px">
        <button id="startbtn" onclick = "startgame()" class="button4"><b>ආරම්භ කරන්න</b></button>
        <img src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top: -300px; margin-left: 150px">
       </div>

        <h1 style =  "margin-left:14em; margin-top: 30px; margin-bottom: 10px;"><b>දිග, පළල මනිමු.</b></h1>
                <div class = "center1" id="page1-lengths" >
                    <form name="f1">
                    <h3 style ="margin-top: 10px; margin-left: 30px;">පහත රූප වලට වතුර අල්ලන ප්‍රමාණය යෝගට් කප් වලින් සොයමු</h3>
                    <h2 id="alert" style="visibility: hidden; color: red;"> සියල්ලටම පිලිතුරු සපයන්න</h2>
                    <img src = "/assets/images/click.gif" style="position: absolute; height: 50px; margin-top: -95px; margin-left: 700px;">
                    <img src = "/assets/images/shape_sound2.gif" id="question-money" style="position: absolute; height: 140px; margin-top: -135px; margin-left: 750px;">
                    <audio id="quest_audio" src="assets/audio/moneyL1_quest.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                    <fieldset style ="margin-left: 30px; margin-top: 30px;">
                        <img src="/assets/images/water1.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 120px; width: 320px; margin-left: 100px; margin-right: 50px; padding: 8px;">
                        <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:150px">
                        <img name="r4" src="/assets/images/q4.JPG" id="r4"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test1_len2x()">
                        <img name="r5" src="/assets/images/q5.JPG"  id="r5" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test2_len2x()">
                        <img name="r3" src="/assets/images/q3.JPG"  id="r3" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test3_len2x()">
                        <img name="rw1" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                        <input type="checkbox" hidden name="fruit" id="mark1"/>
                        <input type="checkbox" hidden name="fruit" id="unmark1"/>
                        </fieldset>
          
                    <fieldset style ="margin-left: 30px; margin-top: 2px;">
                        <img src="/assets/images/water2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height:120px; width: 320px; margin-left: 100px; margin-right: 50px; padding: 15px;">
                        <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:150px">
                        <img name="r51" src="/assets/images/q5.JPG"  id="r51" class="imagex" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test4_len2x()">
                        <img name="r61" src="/assets/images/q6.JPG"  id="r61" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test5_len2x()">
                        <img name="r71" src="/assets/images/q7.JPG"  id="r71" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test6_len2x()">
                        <img name="rw2" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                        <input type="checkbox"  hidden name="fruit" id="mark2"/>
                        <input type="checkbox"  hidden name="fruit" id="unmark2"/>
                    </fieldset>
                    <fieldset style ="margin-left: 30px; margin-top: 2px;">
                        <img src="/assets/images/water3.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height:120px; width: 320px; margin-left: 100px; margin-right: 50px; padding: 15px;">
                        <img name="clip3" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 12px; margin-right:150px">
                        <img name="r112" src="/assets/images/q11.JPG"  id="r112" class="imagex" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test7_len2x()">
                        <img name="r82" src="/assets/images/q8.JPG"  id="r82" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test8_len2x()">
                        <img name="r122" src="/assets/images/q12.JPG"  id="r122" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test9_len2x()">
                        <img name="rw3" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                        <input type="checkbox"  hidden name="fruit" id="mark3"/>
                        <input type="checkbox"  hidden name="fruit" id="unmark3"/>
                    </fieldset>
                    <br>
                    <br>
          
            </form>
            <app-emotiondetector></app-emotiondetector>
            
            <img id ="arrow1" src ="/assets/images/arrow_right.gif" style="display: none; margin-top: -45px; margin-left: 950px; height: 100px; width: 100px; position: absolute;">
            <button id="submit" class="button2" style="display: none" (click)="markstot_lengthen2()">ඉවරයි</button>
  
  
            <!-- The Modal -->
            <div id="myModal" class="modal">
  
                <!-- Modal content -->
                <div class="modal-content">
                  <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                  <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                  <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                  <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                  <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                  <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
                  <a href="grade2/maths/level2"  class="button3">ආපසු</a>
                </div>
              </div>
                </div>
  </body>


