<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/coincoin.jpg);">
   
<div class="container" class="image" style="height:100% ;">
    <br>
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <a href="/grade1/sinhala" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
      </div>

     

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <!-- <div class="col-sm-4 col-xs-4 col-lg-4">
                     <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">
                    </div> -->
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        <img src = "/assets/images/sound_audio3.gif" style="height:60px;">
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9">
                <h1><b>වචන හදමු  </b></h1>   
            </div>
        </div>
     
      </div>




      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
          </div>
      </div>
      
  </div>
  <div class="row">
    <h3 style ="margin-top:33px; margin-left:60px;"><b>රූපයට ගැලපෙන වචනය දී ඇති අකුරු වලින් සාදමූ.</b></h3><br>
    <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
  </div>
  <div class="row">
      <div class=" col-sm-6 col-xs-6  col-lg-6">
        <fieldset style ="margin-top:10px;margin-left:40px ;">
            <img src="/assets/images/tree.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 8px;margin-right:5px ;">
            <!-- <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px;margin-right:5px ; "> -->
            <img name="brown" src="/assets/images/ga.png" id="a5"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="test1_money()">
            <img name="red" src="/assets/images/ma.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            <img name="red" src="/assets/images/sa.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            
            <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">

            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px;border-color:blue ; ">
            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px; border-color:blue ;">

            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </fieldset><br>

        <fieldset style ="margin-top:10px;margin-left:40px ;">
            <img src="/assets/images/gala.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 8px;margin-right:5px ;">
  
            <img name="brown" src="/assets/images/ga.png" id="a5"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="test1_money()">
            <img name="red" src="/assets/images/ma.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            <img name="red" src="/assets/images/la.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            
            <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">

            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px;border-color:blue ; ">
            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px; border-color:blue ;">

            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </fieldset><br>
      </div>


      <div class=" col-sm-6 col-xs-6  col-lg-6">
        <fieldset style ="margin-top:10px;margin-left:40px ;">
            <img src="/assets/images/flowers.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 8px;margin-right:5px ;">
         
            <img name="brown" src="/assets/images/ga.png" id="a5"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="test1_money()">
            <img name="red" src="/assets/images/ma.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            <img name="red" src="/assets/images/la.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            
            <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">

            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px;border-color:blue ;">
            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px;border-color:blue ;">

            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </fieldset>

        <fieldset style ="margin-top:10px;margin-left:40px ;">
            <img src="/assets/images/ira.png" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 100px; width: 100px; padding: 8px;margin-right:5px ;">
          
            <img name="brown" src="/assets/images/ii.png" id="a5"  style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px ;" onclick="test1_money()">
            <img name="red" src="/assets/images/ma.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            <img name="red" src="/assets/images/ra.png"  id="a10" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 55px; height: 85px; width: 85px; padding: 12px;margin-right:5px" onclick="test2_money()">
            
            <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">

            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px;border-color:blue;border-width:5px ; ">
            <img name="rw1" src="/assets/images/trans.svg" style="height:130px; width:130px; border-color:blue ;">

            <input type="checkbox" hidden name="fruit" id="mark1"/>
            <input type="checkbox" hidden name="fruit" id="unmark1"/>
        </fieldset><br>
      </div>
            

           

  </div>


  <div class="row">
    <div  class="col-sm-3 col-xs-3  col-lg-3">
        <!-- <button id="final_button" class="button2" style ="width:100px" >ඉවරයි</button> -->
    </div>
   
  </div>
 

    
</div>
  
        








