
<!-- <div class="jumbotron">
    <h1 class="display-4">Hello, {{username}} {{studentname}}!</h1>
    <a class="btn btn-primary btn-lg" href="#" role="button" (click)="logout()">Logout</a>
  </div> -->
<!-- 
  <html>

    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description" content="Login - Register Template">
        <meta name="author" content="Lorenzo Angelino aka MrLolok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
        
    </head>
    <body class = "image">
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    <h1 align ="center"><b>සෙල්ලම් පන්තියට</b></h1>
    <br>
    <h1 align ="center"><b>සාදරයෙන් පිළිගනිමු</b></h1>
      </body>
      </html> -->
      
    
<app-grade1 *ngIf="grade1"></app-grade1>
<app-grade2 *ngIf="grade2"></app-grade2>
