
<html>
    <head></head>
    <body class="back-image" id="Page2">

          <br>
          <div id="time-back" style="z-index: 2; margin-top: 40px; position: absolute; margin-left: 900px; background-color: azure; border-radius: 10px; width: 250px;">
            <div id="display" style="margin-left:15px; font-size: 50px; font-family: 'Permanent Marker', cursive;">
              00:00:00
          </div>
    
          <div class="buttons" >
              <button hidden id="startStop" onclick="startStop()">Start</button> 
              <button hidden id="reset" onclick="reset()">Reset</button>
          </div>
    
    
     </div>

         <div id = "startdiv" style ="margin-top:15px;margin-left: 70px;z-index: 3; background-color: rgba(236, 236, 208, 0.95); border-style: solid; border-color: rgb(146, 146, 89); border-radius: 10px; height: 600px; width: 1200px; position: absolute;">
          <button id="startbtn" onclick = "startgame_shape()" class="button4"><b>ආරම්භ කරන්න</b></button>
          <img src = "/assets/images/start_button.png" style=" opacity: 0.85;margin-top: -300px; margin-left: 150px">
         </div>
            <form name="f1">

            <h3 style ="margin-top: 20px; margin-left: 30px;"><b>ගොඩවල් දෙකෙම රූප වල එකතුව සොයමු.</b></h3>
            <h2 id="alert" style="visibility: hidden; color: red;"> සියල්ලටම පිලිතුරු සපයන්න</h2>
            <img src = "/assets/images/click.gif" style="position: absolute; height: 70px; margin-top: -60px; margin-left: 60px;">
            <img src = "/assets/images/shape_sound2.gif" id="question-addition-gif" style="position: absolute; height: 140px; margin-top: -85px; margin-left: 140px;">
            <audio id="quest_addition" src="assets/audio/addition-question.m4a" type="audio/m4a" control>Your browser does not support the audio element. </audio>
                

                <fieldset style ="margin-left: 30px; margin-top: 20px;">
                  <img src="/assets/images/ice4.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px; margin-left: 100px; margin-right:10px; padding: 8px;">
                  <img src="/assets/images/ice3.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px; margin-right: 70px; padding: 8px;">
                  
                  
                  <img name="clip1" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:150px">
                  <img name="brown" src="/assets/images/q7.JPG" id="q7"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test1_addto()">
                  <img name="red" src="/assets/images/q5.JPG"  id="q5" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test2_addto()">
                  <img name="green" src="/assets/images/q8.JPG"  id="q8" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test3_addto()">
                  <img name="rw1" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                  <input type="checkbox" hidden name="fruit" id="mark1"/>
                  <input type="checkbox" hidden name="fruit" id="unmark1"/>
                  </fieldset>
            <br>
      

            <fieldset style ="margin-left: 30px; margin-top: 10px;">
              <img src="/assets/images/m3.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px; margin-left: 100px; margin-right:10px; padding: 15px;">
              <img src="/assets/images/m2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px;  margin-right: 70px; padding: 8px;">
             
              <img name="clip2" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:150px">
              <img name="rect" src="/assets/images/q6.JPG"  id="q6" class="imagex" style="margin-right:30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test4_addto()">
              <img name="sqr" src="/assets/images/q5.JPG"  id="qq5" style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test5_addto()">
              <img name="cir" src="/assets/images/q3.JPG"  id="q3" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 12px; height: 85px; width: 85px; padding: 15px;" onclick="test6_addto()">
              <img name="rw2" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
              <input type="checkbox"  hidden name="fruit" id="mark2"/>
              <input type="checkbox"  hidden name="fruit" id="unmark2"/>
              </fieldset>
             <br>

                <fieldset style ="margin-left: 30px; margin-top: 10px;">
                <img src="/assets/images/d2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px; margin-left: 100px; margin-right: 10px; padding: 13px;">
                <img src="/assets/images/d2.JPG" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 130px; width: 130px;margin-right: 70px; padding: 8px;">

                <img name="clip3" src="/assets/images/question_mark.png" style="height:85px; width:85px;border:solid; border-radius: 15px; margin-right:150px">
            
                <img name="leaf1" src="/assets/images/q3.JPG" id="qq3"  style="margin-right: 30px;border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;" onclick="test7_addto()">
                <img name="leaf2" src="/assets/images/q4.JPG" id="q4" style="border-style:solid; border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;"  onclick="test8_addto()">
                <img name="leaf3" src="/assets/images/q6.JPG" id="qq6" style="border-style:solid;margin-left:30px ;border-color:rgb(0, 0, 0); background:#ffffff; border-radius: 15px; height: 85px; width: 85px; padding: 12px;"  onclick="test9_addto()">
                
                <img name="rw3" src="/assets/images/trans.svg" style="height:100px; width:100px; ">
                <input type="checkbox"  hidden name="fruit" id="mark3"/>
                <input type="checkbox"  hidden name="fruit" id="unmark3"/>
               
            </fieldset>
            <br>

            </form>
            <app-emotiondetector></app-emotiondetector>

        <button id="submit" class="button2" style="display: none;" (click)="markstot_addto()">ඉවරයි</button>  
        <div hidden id="clickarray"></div>

            <!-- Trigger/Open The Modal -->
            <!-- <a id="myBtn" class="button2" >Submit</a> -->

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <div style="margin-left:-50px">
                  <img id="coin1" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 55px; position: absolute">
                  <img id ="coin2" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 220px; margin-top: -50px; position: absolute;">
                  <img id ="coin3" src="/assets/images/win_coin.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 550px; margin-left: 390px; position: absolute">
                  <img id ="sad_coin" src="/assets/images/sad.gif" class= "coin_img" style = "visibility:hidden; height: 220px; width: 220px; margin-left: 380px; position: absolute">
                  <h1 style="font-family:Chalkduster, fantasy; margin-left: 380px; position: absolute; color:darkcyan">Completed!!!</h1>
                  <h5 style ="position: absolute; margin-top: 300px; margin-left: 350px; font-size: 30px">ගත වූ කාලය : <span id="perf-time"></span></h5>
                  <a href="grade1/maths/level2" style="margin-left:430px"  id="submit" class="button3">ආපසු</a>
                </div>
               
              </div>
            </div>

            <!-- <form>
            <input type="submit" value="නැවත" style="position:absolute;top:510px;left:60px;width:100px;height:35px;font-size:20;color:blue" ></form> -->
            <!-- <div id="back_box" style="position:absolute; top: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 50px;"><span style="font-weight: bold; font-size: 28pt; margin-left: 10px;">රටාවේ ඊළඟට ගැළපෙන රූපය තෝරන්න.</span></div> -->
            <!-- <div id="back_box2" style="position:absolute; bottom: 0px; left: 0px; background: rgb(117,179,240); width: 100%; height: 35px; padding-top: 15px; text-align: right;"><span style="font-weight: bold; font-size: 12pt; margin-right: 10px;">ගණිතය - 1 ශ්‍රේණිය</span></div> -->










</body>
</html>