<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinhala</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-size:cover;background-image:url(/assets/images/fun.jpg);">
   
<div class="container" class="image" style="height:100% ;width:100%">
    <br>
  <div class="row">
      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <!-- <a href="/grade1/sinhala/level2/" style ='margin-left:60px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a> -->
      </div>

      <div class="col-sm-6 col-xs-6 col-lg-6">

        <div class="row">
            <div class="col-sm-3 col-xs-3 col-lg-3">
                <div class ="row">
                    <!-- <div class="col-sm-4 col-xs-4 col-lg-4">
                     <img src = "/assets/images/click.gif" style="height:45px;margin-left:10px;">
                    </div> -->
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                    <div class="col-sm-4 col-xs-4 col-lg-4">
                        
                    </div>
                </div>
             </div>
            <div class="col-sm-9 col-xs-9 col-lg-9" >
                <h1 style="margin-left:10px ;"><b>වගන්ති හදමු - 2 </b></h1>   
            </div>
        </div>
     
      </div>


      <div class=" col-sm-3 col-xs-3  col-lg-3">
        <div id="time-back" style=" background-color: azure; border-radius: 15px; width: 175px;padding:5px ;margin-left: 60px;">
            <div id="display" style=" font-size:38px; font-family: 'Permanent Marker', cursive;">
               00:00:00
          </div>
      </div>
      
  </div>
</div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 col-lg-12">
      <img src = "/assets/images/sound_audio3.gif" id="audio_img" class="question-audio" onclick="sentences_l2_play()" style="height:60px; float: left;">
      <audio id="sentences_l2_audio" src="assets/audio/sinhala/G1L2WordSelection1.mp3" type="audio/m4a" control>Your browser does not support the audio element. </audio>
      <h3 style ="margin-top:20px; text-align:center;"><b>පහත රූපයෙන් පෙන්නුම් කරන සිද්ධීන්ට අදාළ වන වැකි ඉදිරියෙන් ඇති, ✔ හෝ ✖ ලකුණ නිවැරදි ලෙස තෝරන්න</b></h3><br>
      <h3 id="alert" style=" color: red;margin-left:60px;margin-top: 20px;visibility:hidden"> සියල්ලටම පිලිතුරු සපයන්න</h3>
    </div>
  </div>

  <div class="row" >
    <div class="col-sm-6 col-xs-6  col-lg-6" >
      <img src ="/assets/images/sinhalaimage1.jpg" style="margin-left:20px;width:90%;height:auto;">
    </div>

    <div class="col-sm-6 col-xs-6  col-lg-6">
      <img src="/assets/images/g1.JPG" id="image1" style="max-width:50%; border: 2px solid black; border-radius: 10px;margin-right:5px" > 
      <img src="/assets/images/correct.JPG" id="sin1" style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s21()"> 
      <img src="/assets/images/wrong.JPG" id="sin2"  style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s22()"> 
      <img id ="sine1" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine2" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">   

      <input type="checkbox" hidden name="fruit" id="mark1"/>
      <input type="checkbox" hidden name="fruit" id="unmark1"/> 
      <br>
      
      <img  src="/assets/images/g2.JPG" style=" max-width:50%; border: 2px solid black; border-radius: 10px; "> 
      <img src="/assets/images/correct.JPG" id="sin3" style="max-width:15%;border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s23()"> 
      <img src="/assets/images/wrong.JPG" id="sin4" style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s24()"> 
      <img id ="sine3" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine4" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      
      <input type="checkbox" hidden name="fruit" id="mark2"/>
      <input type="checkbox" hidden name="fruit" id="unmark2"/> 
      <br>

      <img  src="/assets/images/g3.JPG"  style=" max-width:50%; border: 2px solid black; border-radius: 10px; " > 
      <img src="/assets/images/correct.JPG" id="sin5"  style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s25()"> 
      <img src="/assets/images/wrong.JPG" id="sin6"  style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s26()"> 
      <img id ="sine5" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine6" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      
      <input type="checkbox" hidden name="fruit" id="mark3"/>
      <input type="checkbox" hidden name="fruit" id="unmark3"/>
      <br>

      <img  src="/assets/images/g4.JPG"  style="max-width:50%; border: 2px solid black; border-radius: 10px; ">
      <img src="/assets/images/correct.JPG" id="sin7" style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s27()"> 
      <img src="/assets/images/wrong.JPG" id="sin8" style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s28()"> 
      <img id ="sine7" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine8" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      
      <input type="checkbox" hidden name="fruit" id="mark4"/>
      <input type="checkbox" hidden name="fruit" id="unmark4"/>
      <br>

      <img name="brown" src="/assets/images/g5.JPG"  style="max-width:50%; border: 2px solid black; border-radius: 10px; ">
      <img src="/assets/images/correct.JPG" id="sin9"  style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s29()"> 
      <img src="/assets/images/wrong.JPG" id="sin10"  style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s30()"> 
      <img id ="sine9" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine10" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      
      <input type="checkbox" hidden name="fruit" id="mark5"/>
      <input type="checkbox" hidden name="fruit" id="unmark5"/>
      <br>

      <img  src="/assets/images/g6.JPG"  style="max-width:50%; border: 2px solid black; border-radius: 10px; " > 
      <img src="/assets/images/correct.JPG" id="sin11" style="max-width:15%; border: 2px solid black; border-radius: 10px;margin-right:5px" onclick="sinhala_s31()"> 
      <img src="/assets/images/wrong.JPG" id="sin12" style="max-width:15%; border: 2px solid black; border-radius: 10px;" onclick="sinhala_s32()"> 
      <img id ="sine11" src="/assets/images/w.gif" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">
      <img id ="sine12" src="/assets/images/sbob1.png" style="display:none; width: 100%; max-width: 80px; min-width:30px; height: auto; margin:auto">

      <input type="checkbox" hidden name="fruit" id="mark6"/>
      <input type="checkbox" hidden name="fruit" id="unmark6"/>  
    </div>    
  </div>

  <!-- <div class="row" style="margin-top:20px;margin-left:20px ;">
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
    </div>
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
    </div>
    <input type="checkbox" hidden name="fruit" id="mark2"/>
		<input type="checkbox" hidden name="fruit" id="unmark2"/>

  </div> -->

  <!-- <div class="row" style="margin-top:20px;margin-left:20px ;">
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
    </div>
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
    </div>
    

  </div> -->

  <!-- <div class="row" style="margin-top:20px;margin-left:20px ;">
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
      
    </div>
    <div class="col-sm-6 col-xs-6  col-lg-6">
      
    </div>

  </div> -->

</div>

<div class="row">
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3"></div>
  <div  class="col-sm-3 col-xs-3  col-lg-3">
    <div class ="row">
      <img id ="arrow1" src ="/assets/images/arrow_submit.gif" style=" height: 130px; width: 130px;margin-left:40px ">
     
    </div>
    <div class ="row">
      <button id="final_button" class="button2" style ="width:100px;margin-left:52px ;" >ඉවරයි</button> 
    </div>
    <br>
  </div> 







