@import "~bootstrap/dist/css/bootstrap.css";
 .image{
    height:40em; 
    background-size:cover; 
    width:100%;
    background-image:url(/assets/images/1478.jpg);
    background-position:50% 50%;
    margin-top:-50px;
  }

  .button1{
    border-radius: 12px;
    background-color:#3f9454;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute; 
    margin-left: 400px;
  }

  .button2{
    border-radius: 12px;
    background-color:#3f9454;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    position: absolute; 
    margin-left: 750px;
  }