<html>

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
    
</head>
<body class = "image">
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

<h1 align ="center"><b>පුංචි නැණසලට</b></h1>
<br>
<h1 align ="center"><b>සාදරයෙන් පිළිගනිමු</b></h1>

<div class="buttons" style="margin-top: 2%;">
    <button class=" btn btn-block mybtn btn-primary tx-tfm"><a [routerLink]="['/register']"><span>Sign up</span></a></button>
    <button class=" btn btn-block mybtn btn-primary tx-tfm"><a [routerLink]="['/']"><span>Login</span></a></button>
        <!-- <li class='last'><a (click)="logout()"><img src="assets/images/user-icon2.png" class="user-icon"></a></li>     -->
    
</div>
    


</body>
  </html>
  


