
<html>

    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description" content="Login - Register Template">
        <meta name="author" content="Lorenzo Angelino aka MrLolok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
        
    </head>
    <body class = "image">
        
        <br>
        <br>
        <br>
        <br>
        <br>
      
    
    <h1 align ="center"><b>  පියවර 1- ගණිතය (1 ශ්‍රේණිය)</b></h1>
    <br>
  
        <div style="width: 100%;">
            <div style="float:left; width: 50%;margin-inline-start:108px ;">  
               <div>
                <button class="button"><a routerLink='/grade1/maths/level1/counting'><span>ගණන් කිරීම </span></a></button> 
               </div> 
               <div>
                <button class="button"><a routerLink='/grade1/maths/level1/countingconcepts'><span>ගණන් කිරීමේ සංකල්ප </span></a></button> 
               </div> 
               <div>
                <button class="button"><a routerLink='/grade1/maths/level1/additions'><span>එකතු කිරීම </span></a></button> 
               </div> 
               <div>
                <button class="button"><a routerLink='/grade1/maths/level1/grade1/substractions'><span>අඩු කිරීම</span></a></button> 
               </div> 
               <div>
                <button class="button"><a routerLink='/grade1/maths/level1/money'><span>මුදල් </span></a></button> 
               </div> 
               
             </div>
            <div style="float:right;margin-inline-end:106px  ;">
                <div>
                    <button class="button"><a routerLink='/grade1/maths/level1/length'><span>දිග මැනීම </span></a></button> 
                   </div> 
                   <div>
                    <button class="button"><a routerLink='/grade1/maths/level1/width'><span>පළල මැනීම </span></a></button> 
                   </div> 
                   <div>
                    <button class="button"><a routerLink='/grade1/maths/level1/time'><span>කාලය </span></a></button> 
                   </div> 
                   <div>
                    <button class="button"><a routerLink='/grade1/maths/level1/volume'><span>පරිමාව මැනීම </span></a></button> 
                   </div> 
                   <div>
                    <button class="button"><a routerLink='/grade1/maths/level1/shapes'><span>හැඩතල</span></a></button> 
                   </div> 
            </div>
        </div>


    
    
      </body>
      </html>
      
    

