<html ng-app="myApp">

    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description" content="Login - Register Template">
        <meta name="author" content="Lorenzo Angelino aka MrLolok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 

    </head>

    <body class = "image">
        
        <br>
        <br>
        <br>
        <br>
  

    <h2 style ="text-align: center; margin-top: -15px;"><b>පියවර 1 - ගණිතය (1 ශ්‍රේණිය) - මුදල්</b></h2>

<!-- first page-->
        <div class="canvas"  id="Page1" ng-controller="myCtrl">
            <div style="float:left;">  
                <img class="sweet-image" src="assets/images/cupcake-50.png">
                <img class="sweet-image" src="assets/images/toffee-5.png">
                <br>
                <img class="sweet-image" src="assets/images/ice-cream-20.PNG">
                <img class="sweet-image" src="assets/images/lollipop-10.png">
                <br>
                <audio controls autoplay hidden>
                    <source src="assets/audio/coins-game.mp3" type="audio/mp3" style="position: relative;" >
                </audio>
            </div>

            <!-- <div style="float:right;" ng-app ng:controller="ShowHideController"> -->
                <img src=" assets/images/girl-skipping.gif" style="height: 380px; width:auto;"> 
                <br>
                <img id="loadingImage" src="assets/images/5.png" style="visibility:hidden; height: 100px; width: auto; margin-bottom: 10px;"/>
                <br>
                <a class="btn btn-success" style="color:rgb(255, 255, 255);" onClick="showImage()">Click to view coin</a>

                <a href="#" style="margin-left:400px;" class="btn btn-info" onclick="return show('Page2','Page1');">Next</a>
            <!-- </div> -->
        </div>


<!-- second page-->
        <div class="canvas"  id="Page2" style="display:none"  ng-controller="myCtrl">
            <p>second page</p>
            <div style="float:left;">  
                <img class="sweet-image" src="assets/images/cupcake-50.png">
                <img class="sweet-image" src="assets/images/toffee-5.png">
                <br>
                <img class="sweet-image" src="assets/images/ice-cream-20.PNG">
                <img class="sweet-image" src="assets/images/lollipop-10.png">
                <br>
                <audio controls autoplay hidden>
                    <source src="assets/audio/coins-game.mp3" type="audio/mp3" style="position: relative;" >
                </audio>
            </div>

            <!-- <div style="float:right;" ng-app ng:controller="ShowHideController"> -->
                <img src=" assets/images/girl-skipping.gif" style="height: 380px; width:auto;"> 
                <br>
                
                <img id="loadingImage2" src="assets/images/10.png" style="display:none; height: 90px; width: auto; "/>
                <br>
                <a class="btn btn-success" style="color:rgb(255, 255, 255);" onClick="showImage2()">Click to view coin</a>

                <a href="#"  class="btn btn-info" onclick="return show('Page1','Page2');">Back</a>
            <!-- </div> -->

        </div>

    </body>
</html>