.imagex{
  width: 80px;
  height: 80px;
}
.back-image{
  height:47em; 
  background-size:cover; 
  width:100%;
  background-image:url(/assets/images/coincoin.jpg);
  background-position:50% 50%;
  margin-top:-60px;
  padding: 30px;
}
.center {
  /* line-height: 300px; */
  background-color: #FFFFFF;
  height: 543px;
  width: 60em;
  border: 3px solid rgb(73, 75, 187);
  margin: auto;
  
}
.center1 {
  /* line-height: 300px; */
  /* background-image: url(/assets/images/shape_game.jpg); */
  /* opacity: 0.95; */
  /* background-color: #FFFFFF; */
  /* background-color: rgba(255, 250, 250, 0.6); */
  height: 560px;
  width: 76em;
  /* border: 3px solid rgb(73, 75, 187); */
  margin: auto;
}


.button1 {
  border-radius: 12px;
  background-color:#3f9454;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  height: 5px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative; 
}

  /*-----button2-----*/
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
    
    a:hover {
      background-color:#ffffff;
      color: black;
    }
    
    .previous {
    background-color:#ffffff;
  
      color: black;
    }
    
    .next {
      background-color:white;
      color: white;
    }
    
    .round {
      border-radius: 50%;
    }
.button3 {
  border-radius: 12px;
  background-color:#3f9454;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute; 
  z-index:2;
  margin-top: 350px; 
  margin-left:460px;
}


.button4 {
  border-radius: 12px;
  background-color:#3f9454;
  border: 5px solid #315032;;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  width: 250px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  position: relative; 
  margin-top: 270px;
  margin-left: 450px;
  z-index: 4;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #d2ecb5; */
  background-color: #ffffff;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 10px solid rgb(73, 160, 52);
  border-radius: 12px;
  width: 70%; /* Could be more or less, depending on screen size */
  height: 70%;
  z-index: 1;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.coin_img{
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}

@keyframes example {
  from {top: 10px;}
  to {top: 70px; }
}
.coin_img{
  animation-name: example;
  animation-duration: 3s;  
  animation-fill-mode: forwards;
}
