<html>
        <body style="background-size:cover;
        background-image:url(/assets/images/coincoin.jpg);
        background-position:50% 50%;
        margin-top:-50px;
        left: 50px;
        height:40em;  
        width:100%;">
    <a href="/grade1/maths/level1" style ='margin-top:70px;margin-left:20px;color:green;height:50px ;' class="previous button1">&laquo; Previous</a>
    <a href="/grade1/maths/level1/countingconcepts" style ='margin-top:70px;margin-left:950px;color:green;height:50px ;' class="previous button1"> Next &raquo;</a>
   
    <div id="block" style="position: absolute; top: 150px; left: 80px;">
    <h3 style="background-color:white;width:380px;padding:10px;border-radius:15px;" ><b>පියවර 1 - ගණන් කිරීම</b></h3>
    <form name="f"> 
        <input type="button" class="button1" name="but1" value="PLAY >>>" style="color:white;background-color:green;height:60px ;" onClick="testcountintro()" >
        <img src="/assets/images/b.png" style="position:absolute;top:0px; left:500px;width:350px; height:320px;">
        <img src="/assets/images/0.gif" style="position:absolute;top:60px; left:200px;width:350px; height:320px;">
    <!-- <img src="/assets/images/m.gif" style="position:absolute;top:180px; left:6px;width:350px; height:320px;"> -->
    </form>
    <br>
    <form name="f1">
    <br>
    <div id="box1" style="position:absolute;  top:115px; left:525px;width:300px; height:150px;   " >
    <input type="text" name="txt1" value="" readonly="true" style= "width:80px; height:120px; text-align:center; color:green; border-width:0; font-size:70px;visibility:hidden">
    <input type="text" name="txt3" value="" readonly="true" style= "width:200px; height:120px; text-align:center; color:blue;border-width:0; font-size:70px;visibility:hidden">
    
    </div>
    
    </form>
    <form name="f2">
    <img name="clip2" src="/assets/images/ball.png" style="position:absolute;top:180px; left:0px;width:0px;height:0px">
    <img name="clip3" src="/assets/images/ball.png"style="position:absolute;top:200px; left:1000px;width:0px;height:0px ">
    <img name="clip4" src="/assets/images/ball.png"style="position:absolute;top:220px; left:1000px;width:0px;height:0px ">
    <img name="clip5" src="/assets/images/ball.png"style="position:absolute;top:240px; left:1000px;width:0px;height:0px ">
    <img name="clip6" src="/assets/images/ball.png"style="position:absolute;top:260px; left:1000px;width:0px;height:0px "> 
    </form>
    
    <form name="f3">
    
    <div id="box3" style="position:absolute;  top:10px; left:870px;width:100px; height:100px;   " >
    <img name="clip1" src="/assets/images/b.png" style="visibility:hidden"> 
    
      
    </div>
    
    
    </form>
    
    
    <form name="f4" action="">
    
    
    <div id="box4" style="position:absolute;top:42px; left:280px; width:160px; height:50px" >
    <!-- <input type="submit" name="but2" value="නැවතත්" style=" width:160px;height:50px;color:rgb(255, 255, 255);background-color:#21e31e ; font-size:20px;border-radius: 5px;" >  -->
    </div> 
    
    </form>
    <div style="margin-inline-start:870px;height:60px;width:150px;margin-top:190px; font-size:20px;border-radius: 5px;">
        
    </div>

       